## NYPD Dataset

Dataset description at 
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i


| Column | Description |
|--------|-------------------|
| CMPLNT_NUM |  Randomly generated persistent ID for each complaint  |  
| ADDR_PCT_CD |  The precinct in which the incident occurred |  
| BORO |  The name of the borough in which the incident occurred |  
| CMPLNT_FR_DT |  Exact date of occurrence for the reported event (or starting date of occurrence, if CMPLNT_TO_DT exists) |  
| CMPLNT_FR_TM |  Exact time of occurrence for the reported event (or starting time of occurrence, if CMPLNT_TO_TM exists) |  
| CMPLNT_TO_DT |  Ending date of occurrence for the reported event, if exact time of occurrence is unknown |  
| CMPLNT_TO_TM |  Ending time of occurrence for the reported event, if exact time of occurrence is unknown |  
| CRM_ATPT_CPTD_CD |  Indicator of whether crime was successfully completed or attempted, but failed or was interrupted prematurely |  
| HADEVELOPT |  Name of NYCHA housing development of occurrence, if applicable |  
| HOUSING_PSA |  Development Level Code |  
| JURISDICTION_CODE |  Jurisdiction responsible for incident. Either internal, like Police(0), Transit(1), and Housing(2); or external(3), like Correction, Port Authority, etc. |  
| JURIS_DESC |  Description of the jurisdiction code |  
| KY_CD |  Three digit offense classification code |  
| LAW_CAT_CD |  Level of offense: felony, misdemeanor, violation  |  
| LOC_OF_OCCUR_DESC |  Specific location of occurrence in or around the premises; inside, opposite of, front of, rear of |  
| OFNS_DESC |  Description of offense corresponding with key code |  
| PARKS_NM |  Name of NYC park, playground or greenspace of occurrence, if applicable (state parks are not included) |  
| PATROL_BORO |  The name of the patrol borough in which the incident occurred |  
| PD_CD |  Three digit internal classification code (more granular than Key Code) |  
| PD_DESC |  Description of internal classification corresponding with PD code (more granular than Offense Description) |  
| PREM_TYP_DESC |  Specific description of premises; grocery store, residence, street, etc. |  
| RPT_DT |  Date event was reported to police  |  
| STATION_NAME |  Transit station name |  
| SUSP_AGE_GROUP |  Suspect’s Age Group |  
| SUSP_RACE |  Suspect’s Race Description |  
| SUSP_SEX |  Suspect’s Sex Description |  
| TRANSIT_DISTRICT |  Transit district in which the offense occurred. |  
| VIC_AGE_GROUP |  Victim’s Age Group |  
| VIC_RACE |  Victim’s Race Description |  
| VIC_SEX |  Victim’s Sex Description |  
| X_COORD_CD |  X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Y_COORD_CD |  Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Latitude |  Midblock Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)  |  
| Longitude |  Midblock Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) |

In [ ]:
# From https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i/data
!curl 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD' -o nypd.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("nypd.csv", low_memory = False, dtype='object')

In [3]:
len(df)

6036805

In [4]:
# df [ df.CMPLNT_FR_DT.str.contains('1015') == True ]

In [5]:
# There are a few rows that contain year 1015, 1016, ... that trigger an error during date conversion
# We replace all years written as 10XX with 20XX
# Note the usage of regular expressions
df.CMPLNT_FR_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', inplace = True, regex=True )
df.CMPLNT_TO_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', inplace = True, regex=True )

In [6]:
# Similarly, a few hours are written as 24:00:00, which also triggers errors.
# We fix these hours
df.CMPLNT_FR_TM.replace(to_replace = '24:00:00', value='00:00:00', inplace = True)
df.CMPLNT_TO_TM.replace(to_replace = '24:00:00', value='00:00:00', inplace = True)

In [7]:
# Convert the two separate date and time columns into single datetime columns
df['CMPLNT_FR'] = pd.to_datetime(df.CMPLNT_FR_DT + ' ' + df.CMPLNT_FR_TM, format='%m/%d/%Y %H:%M:%S')
df['CMPLNT_TO'] = pd.to_datetime(df.CMPLNT_TO_DT + ' ' + df.CMPLNT_TO_TM, format='%m/%d/%Y %H:%M:%S')

# Convert RPT_DT to date
df.RPT_DT = pd.to_datetime(df.RPT_DT, format="%m/%d/%Y")

In [8]:
# These columns are redundant
# 
df.drop('Lat_Lon', axis=1, inplace=True)
df.drop('CMPLNT_FR_DT', axis=1, inplace=True)
df.drop('CMPLNT_TO_DT', axis=1, inplace=True)
df.drop('CMPLNT_FR_TM', axis=1, inplace=True)
df.drop('CMPLNT_TO_TM', axis=1, inplace=True)

In [9]:
# MISD means MISDEMEANOR
df.LAW_CAT_CD.replace(to_replace = 'MISD', value='MISDEMEANOR', inplace = True )

# Replace ' ' with NULL
df.LOC_OF_OCCUR_DESC.replace(to_replace = ' ', value=np.nan, inplace = True)

##### We should have a discussion about data exploration/cleaning here

In [10]:
# Find the unique values in each column
# 
# df.describe(include = [np.object, 'category']).T['unique']
unique = df.describe(include = 'all').T['unique'].sort_values()

In [11]:
unique

CRM_ATPT_CPTD_CD           2
LAW_CAT_CD                 3
SUSP_SEX                   3
LOC_OF_OCCUR_DESC          5
BORO_NM                    5
VIC_SEX                    5
SUSP_RACE                  8
VIC_RACE                   8
PATROL_BORO                8
TRANSIT_DISTRICT          12
JURIS_DESC                25
JURISDICTION_CODE         25
OFNS_DESC                 70
PREM_TYP_DESC             72
KY_CD                     74
ADDR_PCT_CD               77
SUSP_AGE_GROUP            81
VIC_AGE_GROUP            181
HADEVELOPT               279
STATION_NAME             371
PD_DESC                  412
PD_CD                    424
PARKS_NM                1074
RPT_DT                  4383
HOUSING_PSA             4623
X_COORD_CD             70569
Y_COORD_CD             73188
Latitude              114932
Longitude             114938
CMPLNT_FR            1616072
CMPLNT_TO            1768998
CMPLNT_NUM           6036805
Name: unique, dtype: object

In [12]:
# All columns, except for the dates, are categorical
for column in unique.index:
    if unique[column] < 2000:
        df[column] = pd.Categorical(df[column])

In [13]:
for column in unique.index:
    if unique[column] < 200:
        print(df[column].value_counts())
        print("=====")

COMPLETED    5932953
ATTEMPTED     103845
Name: CRM_ATPT_CPTD_CD, dtype: int64
=====
MISDEMEANOR    3431733
FELONY         1855915
VIOLATION       749157
Name: LAW_CAT_CD, dtype: int64
=====
M    1784627
F     576490
U     438633
Name: SUSP_SEX, dtype: int64
=====
INSIDE         3023004
FRONT OF       1402959
OPPOSITE OF     165379
REAR OF         132249
OUTSIDE           3136
Name: LOC_OF_OCCUR_DESC, dtype: int64
=====
BROOKLYN         1798175
MANHATTAN        1443245
BRONX            1307343
QUEENS           1191688
STATEN ISLAND     286135
Name: BORO_NM, dtype: int64
=====
F    2354734
M    1961519
E    1012663
D     707582
U          3
Name: VIC_SEX, dtype: int64
=====
BLACK                             1093935
UNKNOWN                            764617
WHITE HISPANIC                     496597
WHITE                              330730
BLACK HISPANIC                     149002
ASIAN / PACIFIC ISLANDER            89136
AMERICAN INDIAN/ALASKAN NATIVE       9036
OTHER                                  11
Name: SUSP_RACE, dtype: int64
=====
UNKNOWN                           2046115
BLACK                             1428171
WHITE                             1055261
WHITE HISPANIC                     956281
ASIAN / PACIFIC ISLANDER           327584
BLACK HISPANIC                     196230
AMERICAN INDIAN/ALASKAN NATIVE      26827
OTHER                                  31
Name: VIC_RACE, dtype: int64
=====
PATROL BORO BRONX            1308131
PATROL BORO BKLYN SOUTH       903639
PATROL BORO BKLYN NORTH       896030
PATROL BORO MAN SOUTH         727535
PATROL BORO MAN NORTH         715195
PATROL BORO QUEENS NORTH      616064
PATROL BORO QUEENS SOUTH      578293
PATROL BORO STATEN ISLAND     286260
Name: PATROL_BORO, dtype: int64
=====
4     23227
2     15892
3     12996
1     12258
20    11974
33    11900
12     9947
32     8995
11     8573
30     8302
34     5817
23     2241
Name: TRANSIT_DISTRICT, dtype: int64
=====
N.Y. POLICE DEPT                       5363022
N.Y. HOUSING POLICE                     465254
N.Y. TRANSIT POLICE                     132465
PORT AUTHORITY                           29354
OTHER                                    16899
POLICE DEPT NYC                           8955
DEPT OF CORRECTIONS                       7813
TRI-BORO BRDG TUNNL                       5072
HEALTH & HOSP CORP                        3045
N.Y. STATE POLICE                         1488
METRO NORTH                                656
LONG ISLAND RAILRD                         491
FIRE DEPT (FIRE MARSHAL)                   477
STATN IS RAPID TRANS                       385
N.Y. STATE PARKS                           374
NYC PARKS                                  327
U.S. PARK POLICE                           222
NEW YORK CITY SHERIFF OFFICE               192
AMTRACK                                    170
NYS DEPT TAX AND FINANCE                    84
SEA GATE POLICE DEPT                        30
NYC DEPT ENVIRONMENTAL PROTECTION           14
CONRAIL                                     14
NYS DEPT ENVIRONMENTAL CONSERVATION          1
DISTRICT ATTORNEY OFFICE                     1
Name: JURIS_DESC, dtype: int64
=====
0     5358307
2      464789
1      132445
3       29354
97      16898
69       8955
72       7813
4        5072
14       3045
11       1488
15        656
6         491
71        477
9         385
12        374
88        327
13        222
87        192
7         170
85         84
16         30
76         14
8          14
79          1
73          1
Name: JURISDICTION_CODE, dtype: int64
=====
PETIT LARCENY                           986327
HARRASSMENT 2                           736247
ASSAULT 3 & RELATED OFFENSES            624483
CRIMINAL MISCHIEF & RELATED OF          603249
GRAND LARCENY                           516703
DANGEROUS DRUGS                         390201
OFF. AGNST PUB ORD SENSBLTY &           327526
ROBBERY                                 227063
FELONY ASSAULT                          224630
BURGLARY                                216356
MISCELLANEOUS PENAL LAW                 145514
DANGEROUS WEAPONS                       142367
OFFENSES AGAINST PUBLIC ADMINI          116832
GRAND LARCENY OF MOTOR VEHICLE          113943
INTOXICATED & IMPAIRED DRIVING           84651
CRIMINAL TRESPASS                        73680
VEHICLE AND TRAFFIC LAWS                 72001
SEX CRIMES                               67922
THEFT-FRAUD                              65925
FORGERY                                  60594
FRAUDS                                   38197
POSSESSION OF STOLEN PROPERTY            32957
OFFENSES INVOLVING FRAUD                 20029
UNAUTHORIZED USE OF A VEHICLE            17286
RAPE                                     16683
ARSON                                    15394
OFFENSES AGAINST THE PERSON              14882
ADMINISTRATIVE CODE                      13250
OTHER OFFENSES RELATED TO THEF           12955
OTHER STATE LAWS (NON PENAL LA            6038
                                         ...
ALCOHOLIC BEVERAGE CONTROL LAW             991
DISORDERLY CONDUCT                         932
OFFENSES AGAINST PUBLIC SAFETY             910
CHILD ABANDONMENT/NON SUPPORT              405
JOSTLING                                   371
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       346
OTHER STATE LAWS                           259
LOITERING/GAMBLING (CARDS, DIC             231
ENDAN WELFARE INCOMP                       204
ESCAPE 3                                   185
HOMICIDE-NEGLIGENT,UNCLASSIFIE             137
ANTICIPATORY OFFENSES                      102
HOMICIDE-NEGLIGENT-VEHICLE                  99
NEW YORK CITY HEALTH CODE                   85
UNLAWFUL POSS. WEAP. ON SCHOOL              63
INTOXICATED/IMPAIRED DRIVING                52
DISRUPTION OF A RELIGIOUS SERV              51
NYS LAWS-UNCLASSIFIED VIOLATION             26
LOITERING FOR DRUG PURPOSES                 23
LOITERING                                   23
KIDNAPPING                                  21
ADMINISTRATIVE CODES                        19
LOITERING/DEVIATE SEX                       16
OTHER TRAFFIC INFRACTION                    14
FORTUNE TELLING                             11
OTHER STATE LAWS (NON PENAL LAW)            10
ABORTION                                     5
OFFENSES AGAINST MARRIAGE UNCL               3
UNDER THE INFLUENCE OF DRUGS                 3
KIDNAPPING AND RELATED OFFENSES              2
Name: OFNS_DESC, Length: 70, dtype: int64
=====
STREET                          1973197
RESIDENCE - APT. HOUSE          1259252
RESIDENCE-HOUSE                  592197
RESIDENCE - PUBLIC HOUSING       456332
OTHER                            161934
COMMERCIAL BUILDING              156709
TRANSIT - NYC SUBWAY             129451
CHAIN STORE                      120932
DEPARTMENT STORE                 116923
PUBLIC SCHOOL                     75874
PARK/PLAYGROUND                   72077
GROCERY/BODEGA                    71515
RESTAURANT/DINER                  68578
BAR/NIGHT CLUB                    67454
CLOTHING/BOUTIQUE                 50015
DRUG STORE                        47796
PUBLIC BUILDING                   37955
PARKING LOT/GARAGE (PUBLIC)       34193
PARKING LOT/GARAGE (PRIVATE)      33641
FOOD SUPERMARKET                  32320
HOSPITAL                          28483
FAST FOOD                         28172
STORE UNCLASSIFIED                27414
BANK                              25573
SMALL MERCHANT                    25408
HOTEL/MOTEL                       25062
GYM/FITNESS FACILITY              19119
HIGHWAY/PARKWAY                   17634
AIRPORT TERMINAL                  17088
BEAUTY & NAIL SALON               15836
                                 ...
BRIDGE                             6572
FACTORY/WAREHOUSE                  6430
TAXI (YELLOW LICENSED)             5954
STORAGE FACILITY                   5355
TAXI (LIVERY LICENSED)             5350
ATM                                5182
BUS STOP                           5177
TRANSIT FACILITY (OTHER)           5092
JEWELRY                            4415
BUS TERMINAL                       4356
SHOE                               4272
LIQUOR STORE                       4214
SOCIAL CLUB/POLICY                 3796
TUNNEL                             3219
BUS (OTHER)                        3055
MARINA/PIER                        2574
ABANDONED BUILDING                 2417
SYNAGOGUE                          2224
VIDEO STORE                        2101
BOOK/CARD                          1987
FERRY/FERRY TERMINAL               1764
TAXI/LIVERY (UNLICENSED)           1022
OTHER HOUSE OF WORSHIP              888
MOSQUE                              855
PHOTO/COPY                          833
CEMETERY                            737
LOAN COMPANY                        427
TRAMWAY                             117
MAILBOX OUTSIDE                       9
MAILBOX INSIDE                        1
Name: PREM_TYP_DESC, Length: 72, dtype: int64
=====
341    986336
578    736317
344    624556
109    516712
351    510927
361    327564
235    319020
105    227065
106    224684
107    216357
126    137600
359    116847
110    113943
121     92337
347     84654
236     81985
352     73685
348     72003
117     71196
112     65931
113     60594
118     60390
233     54373
340     38200
232     22155
358     20031
353     17286
104     16683
343     16567
360     15978
        ...
675      1558
342      1002
346       991
572       932
363       910
356       762
120       458
230       372
677       285
571       231
237       186
115       158
103       137
122       125
234       112
354       102
102        99
455        63
119        52
366        51
349        51
676        35
672        23
685        19
460        16
881        14
357        11
123         5
362         3
577         3
Name: KY_CD, Length: 74, dtype: int64
=====
75     195188
43     160373
44     150806
40     143090
14     139740
46     128289
52     126613
73     124666
120    124645
67     114105
47     110632
114    109136
113    102994
48      97527
115     97198
109     96476
70      96000
18      95652
79      95363
42      94470
103     94333
122     92508
77      88929
105     87993
13      87681
104     87217
71      85020
41      83860
32      83105
83      81926
        ...
6       64394
28      64242
63      63898
108     63314
107     62980
84      62089
68      61350
24      60069
69      59128
66      58126
30      57402
50      55335
88      53647
5       53524
33      53170
10      50924
101     50070
7       49472
20      49045
112     43173
78      42664
94      40917
26      40137
17      39625
123     39159
111     38554
76      34045
100     31463
121     30153
22       5009
Name: ADDR_PCT_CD, Length: 77, dtype: int64
=====
25-44      681843
18-24      277584
UNKNOWN    268074
45-64      240263
<18         77784
65+         18845
2017            8
2016            8
940             4
-969            4
926             4
-972            4
2015            3
-2              3
935             3
-979            3
931             3
-975            2
1017            2
1016            2
1007            2
-976            2
945             2
-974            2
946             2
-970            2
-962            2
-960            2
-948            2
-971            2
            ...
-65             1
-54             1
-49             1
-42             1
923             1
709             1
915             1
-978            1
711             1
949             1
327             1
324             1
309             1
952             1
966             1
972             1
808             1
1933            1
1932            1
944             1
1053            1
809             1
810             1
1014            1
814             1
-985            1
-981            1
-980            1
914             1
999             1
Name: SUSP_AGE_GROUP, Length: 81, dtype: int64
=====

In [18]:
df.SUSP_AGE_GROUP.value_counts().head(10)

25-44    681843
18-24    277584
45-64    240263
<18       77784
65+       18845
Name: SUSP_AGE_GROUP, dtype: int64

In [21]:
df.VIC_AGE_GROUP.value_counts().head(10)

25-44    1949740
45-64    1010708
18-24     622503
<18       286969
65+       200949
Name: VIC_AGE_GROUP, dtype: int64

In [17]:
# Both columns have a lot of noisy entries. We keep only the dominant groups, and also define an order
df.SUSP_AGE_GROUP = pd.Categorical(df.SUSP_AGE_GROUP, ordered=True, categories=['<18', '18-24',  '25-44', '45-64', '65+'])
df.VIC_AGE_GROUP = pd.Categorical(df.VIC_AGE_GROUP, ordered=True, categories=['<18', '18-24',  '25-44', '45-64', '65+'])

In [25]:
df.Latitude = pd.to_numeric(df.Latitude)
df.Longitude  = pd.to_numeric(df.Longitude)

In [26]:
df.dtypes

CMPLNT_NUM                   object
ADDR_PCT_CD                category
RPT_DT               datetime64[ns]
KY_CD                      category
OFNS_DESC                  category
PD_CD                      category
PD_DESC                    category
CRM_ATPT_CPTD_CD           category
LAW_CAT_CD                 category
BORO_NM                    category
LOC_OF_OCCUR_DESC          category
PREM_TYP_DESC              category
JURIS_DESC                 category
JURISDICTION_CODE          category
PARKS_NM                   category
HADEVELOPT                 category
HOUSING_PSA                  object
X_COORD_CD                   object
Y_COORD_CD                   object
SUSP_AGE_GROUP             category
SUSP_RACE                  category
SUSP_SEX                   category
TRANSIT_DISTRICT           category
Latitude                    float64
Longitude                   float64
PATROL_BORO                category
STATION_NAME               category
VIC_AGE_GROUP              category
VIC_RACE                   category
VIC_SEX                    category
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
dtype: object

In [ ]:
# Find unique values and maximum length of various columns
for column in df.columns.values:
    datatype = df[column].dtype.name
    unique_values = len(df[column].value_counts())
    print(column, '\t', datatype, '\t', unique_values)
    if datatype == 'object' or datatype =='category':
        m = max([len(str(x)) for x in df[column].value_counts().index.values])
        print("Max length:", m)

In [ ]:
 df.dtypes

The fields 

PD_CD, PD_DESC    
KY_CD, OFNS_DESC  
JURIS_DESC    
PREM_TYP_DESC    
HADEVELOPT    
PARKS_NM                     

would be better off as foreign keys or enums. They take too much space as strings.

### Writing a Pandas Dataframe in a SQLite Database

In [28]:
import sqlite3

# We start by creating our database
con = sqlite3.connect('nypd.db')

In [30]:
!sudo pip3 install tqdm

The directory '/home/ubuntu/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/ubuntu/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/91/55/8cb23a97301b177e9c8e3226dba45bb454411de2cbd25746763267f226c2/tqdm-4.28.1-py2.py3-none-any.whl (45kB)
    100% |████████████████████████████████| 51kB 32.6MB/s ta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.28.1

Once we have connected successfully, we need to create our database:

In [31]:
# Create a table
# See http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html for the documentation
from tqdm import tqdm
batchsize = 50000
batches = len(df) // batchsize + 1

t = tqdm(range(batches))

for i in t:
    start = batchsize * i
    end = batchsize * (i+1)
    df[start:end].to_sql(
        name = 'nypd', 
        con = con,
        if_exists = 'append',
        index = False, 
        chunksize = 1000)

100%|██████████| 121/121 [02:13<00:00,  1.03s/it]

In [ ]:
# Once we have the data in the table, we also specify a primary key
# If we had FOREIGN KEYS we can add them in the same way
# add_key_query = 'ALTER TABLE nypd ADD PRIMARY KEY(CMPLNT_NUM)'
# engine.execute(add_key_query)

In [35]:
query =  "SELECT * FROM nypd LIMIT 100"
r = pd.read_sql(query, con=con).head(5)
r.head(5)

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,...,TRANSIT_DISTRICT,Latitude,Longitude,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,CMPLNT_FR,CMPLNT_TO
0,491097831,76,2013-09-03 00:00:00,578,HARRASSMENT 2,638,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,BROOKLYN,...,None,40.684084,-73.986780,PATROL BORO BKLYN SOUTH,None,None,UNKNOWN,F,2013-08-31 20:00:00,2013-09-02 13:10:00
1,827796420,40,2013-09-03 00:00:00,359,OFFENSES AGAINST PUBLIC ADMINI,759,"PUBLIC ADMINISTATION,UNCLASS M",COMPLETED,MISDEMEANOR,BRONX,...,None,40.815606,-73.914579,PATROL BORO BRONX,None,None,UNKNOWN,E,2013-08-31 19:45:00,2013-08-31 20:00:00
2,823404713,10,2013-09-03 00:00:00,361,OFF. AGNST PUB ORD SENSBLTY &,639,AGGRAVATED HARASSMENT 2,COMPLETED,MISDEMEANOR,MANHATTAN,...,None,40.747810,-73.998518,PATROL BORO MAN SOUTH,None,18-24,WHITE HISPANIC,F,2013-08-31 19:30:00,2013-08-31 20:00:00
3,950495742,106,2013-09-03 00:00:00,110,GRAND LARCENY OF MOTOR VEHICLE,441,"LARCENY,GRAND OF AUTO",COMPLETED,FELONY,QUEENS,...,None,40.662512,-73.856311,PATROL BORO QUEENS SOUTH,None,45-64,WHITE HISPANIC,F,2013-08-31 19:00:00,2013-09-02 09:00:00
4,655454255,71,2013-09-03 00:00:00,107,BURGLARY,234,"BURGLARY,UNKNOWN TIME",COMPLETED,FELONY,BROOKLYN,...,None,40.666588,-73.939678,PATROL BORO BKLYN SOUTH,None,25-44,BLACK,M,2013-08-31 19:00:00,2013-09-03 11:00:00

And remember that from Pandas it is also possible to export in other formats, such as Excel of CSV.

## TODO

The script should also write to a MySQL Database

Add indexes:
    
CMPLNT_NUM
Latitude
Longitude
LAW_CAT_CD
BORO_NM
OFNS_DESC
RPT_DT
CMPLNT_FR

In [ ]:
# The necessary library to write in Excel
# !sudo pip3 install -U xlwt

In [ ]:
# Data quality issues to fix: KY_CD, OFNS_DESC

query = '''
SELECT KY_CD, OFNS_DESC, COUNT(*)
FROM nypd WHERE KY_CD IN (
SELECT KY_CD
FROM nypd
WHERE OFNS_DESC IS NOT NULL
GROUP BY KY_CD
HAVING COUNT(DISTINCT OFNS_DESC)>1)
GROUP BY KY_CD, OFNS_DESC
'''

df = pd.read_sql(query, con=con)
df

In [ ]:
# Data quality issues to fix: PD_CD, PD_DESC

query = '''
SELECT PD_CD, PD_DESC, COUNT(*)
FROM nypd WHERE PD_DESC IN (
SELECT PD_DESC
FROM nypd
WHERE PD_DESC IS NOT NULL
GROUP BY PD_DESC
HAVING COUNT(DISTINCT PD_CD)>1)
GROUP BY PD_CD, PD_DESC
'''

df = pd.read_sql(query, con=con)
df