## NYPD Dataset

Dataset description at 
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i


| Column | Description |
|--------|-------------------|
| CMPLNT_NUM |  Randomly generated persistent ID for each complaint  |  
| ADDR_PCT_CD |  The precinct in which the incident occurred |  
| BORO |  The name of the borough in which the incident occurred |  
| CMPLNT_FR_DT |  Exact date of occurrence for the reported event (or starting date of occurrence, if CMPLNT_TO_DT exists) |  
| CMPLNT_FR_TM |  Exact time of occurrence for the reported event (or starting time of occurrence, if CMPLNT_TO_TM exists) |  
| CMPLNT_TO_DT |  Ending date of occurrence for the reported event, if exact time of occurrence is unknown |  
| CMPLNT_TO_TM |  Ending time of occurrence for the reported event, if exact time of occurrence is unknown |  
| CRM_ATPT_CPTD_CD |  Indicator of whether crime was successfully completed or attempted, but failed or was interrupted prematurely |  
| HADEVELOPT |  Name of NYCHA housing development of occurrence, if applicable |  
| HOUSING_PSA |  Development Level Code |  
| JURISDICTION_CODE |  Jurisdiction responsible for incident. Either internal, like Police(0), Transit(1), and Housing(2); or external(3), like Correction, Port Authority, etc. |  
| JURIS_DESC |  Description of the jurisdiction code |  
| KY_CD |  Three digit offense classification code |  
| LAW_CAT_CD |  Level of offense: felony, misdemeanor, violation  |  
| LOC_OF_OCCUR_DESC |  Specific location of occurrence in or around the premises; inside, opposite of, front of, rear of |  
| OFNS_DESC |  Description of offense corresponding with key code |  
| PARKS_NM |  Name of NYC park, playground or greenspace of occurrence, if applicable (state parks are not included) |  
| PATROL_BORO |  The name of the patrol borough in which the incident occurred |  
| PD_CD |  Three digit internal classification code (more granular than Key Code) |  
| PD_DESC |  Description of internal classification corresponding with PD code (more granular than Offense Description) |  
| PREM_TYP_DESC |  Specific description of premises; grocery store, residence, street, etc. |  
| RPT_DT |  Date event was reported to police  |  
| STATION_NAME |  Transit station name |  
| SUSP_AGE_GROUP |  Suspect’s Age Group |  
| SUSP_RACE |  Suspect’s Race Description |  
| SUSP_SEX |  Suspect’s Sex Description |  
| TRANSIT_DISTRICT |  Transit district in which the offense occurred. |  
| VIC_AGE_GROUP |  Victim’s Age Group |  
| VIC_RACE |  Victim’s Race Description |  
| VIC_SEX |  Victim’s Sex Description |  
| X_COORD_CD |  X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Y_COORD_CD |  Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Latitude |  Midblock Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)  |  
| Longitude |  Midblock Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) |

In [1]:
import pandas as pd
import numpy as np

In [2]:
# We load everything as an object/string, because some data types (e.g., some IDs)
# are recognized as decimals, and it is a mess to restore them back
# So we will do all the conversions ourselves later on

# From https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i/data
!curl 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD' -o nypd.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2251M    0 2251M    0     0  4533k      0 --:--:--  0:08:28 --:--:-- 5263k

In [108]:
%%time
df = pd.read_csv('nypd.csv', low_memory = True, dtype='object')

CPU times: user 54.1 s, sys: 7.24 s, total: 1min 1s
Wall time: 1min 1s

In [111]:
df[df.KY_CD=='101']#.PD_CD.unique()

        CMPLNT_NUM CMPLNT_FR_DT  ...        VIC_RACE VIC_SEX
169      114503597   11/04/2018  ...           BLACK       M
2159     666019648   05/29/2016  ...           BLACK       M
2333     911894090   04/02/2017  ...  WHITE HISPANIC       F
5008     153654557   04/23/2012  ...           BLACK       M
6903     756164192   06/24/2012  ...           BLACK       M
...            ...          ...  ...             ...     ...
7387626  691184949   01/06/2020  ...  WHITE HISPANIC       F
7389288  580659772   01/11/2020  ...           BLACK       M
7389514  352748831   01/09/2020  ...           BLACK       M
7394972  984200243   01/01/2020  ...           BLACK       M
7396032  178842760   01/01/2020  ...           BLACK       M

[6328 rows x 35 columns]

In [112]:
# We load directly from the URL
# url = 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD'
# df = pd.read_csv(url, low_memory = True, dtype='object')

In [113]:
len(df)

7396619

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7396619 entries, 0 to 7396618
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        object
 6   RPT_DT             object
 7   KY_CD              object
 8   OFNS_DESC          object
 9   PD_CD              object
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  object
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         object
 22  Y_COORD_CD         object
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   object
 27  Latitude           object
 28  Longitude          object
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: object(35)
memory usage: 1.9+ GB

## Data Cleaning

In [115]:
# These columns are redundant
to_drop = ['Lat_Lon','X_COORD_CD','Y_COORD_CD']
# We created the CMPLNT_FR and CMPLNT_TO columns
# We have the longitude and latitude so the other coordinates are not needed
df = df.drop(to_drop, axis='columns')

###  CMPLNT_NUM         object

In [116]:
     
# Drop cases with duplicated complaint numbers
key_cnt = df.CMPLNT_NUM.value_counts()
key_cnt [ key_cnt>1 ]
df = df[ ~df.CMPLNT_NUM.isin( key_cnt [ key_cnt>1 ].index.values ) ]

In [117]:
df.CMPLNT_NUM = df.CMPLNT_NUM.astype('int32')

### CMPLNT_FR_DT       object
### CMPLNT_FR_TM       object
### CMPLNT_TO_DT       object
### CMPLNT_TO_TM       object

In [118]:
# There are a few rows that contain year 1015, 1016, ... that trigger an error during date conversion
# We replace all years written as 10XX with 20XX
# Note the usage of regular expressions
df.CMPLNT_FR_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', inplace = True, regex=True )
df.CMPLNT_TO_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', inplace = True, regex=True )

# Similarly, a few hours are written as 24:00:00, which also triggers errors.
# We fix these hours
df.CMPLNT_FR_TM.replace(to_replace = '24:00:00', value='00:00:00', inplace = True)
df.CMPLNT_TO_TM.replace(to_replace = '24:00:00', value='00:00:00', inplace = True)

# Convert the two separate date and time columns into single datetime columns
df['CMPLNT_FR'] = pd.to_datetime(df.CMPLNT_FR_DT + ' ' + df.CMPLNT_FR_TM, format='%m/%d/%Y %H:%M:%S', cache=True)
df['CMPLNT_TO'] = pd.to_datetime(df.CMPLNT_TO_DT + ' ' + df.CMPLNT_TO_TM, format='%m/%d/%Y %H:%M:%S', cache=True)

# These columns are redundant
to_drop = ['CMPLNT_FR_DT','CMPLNT_TO_DT','CMPLNT_FR_TM','CMPLNT_TO_TM']
# We created the CMPLNT_FR and CMPLNT_TO columns
# We have the longitude and latitude so the other coordinates are not needed
df = df.drop(to_drop, axis='columns')

In [119]:
df.CMPLNT_FR.isnull().sum()

702

In [120]:
df.CMPLNT_TO.isnull().sum()

1702645

In [121]:
df = df [ ~df.CMPLNT_FR.isnull() ]

###  ADDR_PCT_CD        object

In [122]:

df.ADDR_PCT_CD.replace(to_replace = '-99', value='99', inplace = True)
# df = df [ ~df.ADDR_PCT_CD.isnull() ]
df.ADDR_PCT_CD = pd.Categorical(df.ADDR_PCT_CD)

###  RPT_DT             object

In [123]:


# Convert RPT_DT to date
df.RPT_DT = pd.to_datetime(df.RPT_DT, format="%m/%d/%Y", cache=True)

### 7   KY_CD              object
### 8   OFNS_DESC          object

In [124]:
df.OFNS_DESC.replace(to_replace = 'KIDNAPPING', value='KIDNAPPING & RELATED OFFENSES', inplace = True)
df.OFNS_DESC.replace(to_replace = 'KIDNAPPING AND RELATED OFFENSES', value='KIDNAPPING & RELATED OFFENSES', inplace = True)

df.OFNS_DESC.replace(to_replace = 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED', value='OTHER STATE LAWS (NON PENAL LAW)', inplace = True)
df.OFNS_DESC.replace(to_replace = 'OTHER STATE LAWS (NON PENAL LA', value='OTHER STATE LAWS (NON PENAL LAW)', inplace = True)

df.OFNS_DESC.replace(to_replace = 'ENDAN WELFARE INCOMP', value='OFFENSES RELATED TO CHILDREN', inplace = True)

df.OFNS_DESC.replace(to_replace = 'THEFT OF SERVICES', value='OTHER OFFENSES RELATED TO THEF', inplace = True)

df.OFNS_DESC.replace(to_replace = 'NYS LAWS-UNCLASSIFIED VIOLATION', value='OTHER STATE LAWS', inplace = True)

df.OFNS_DESC.replace(to_replace = 'FELONY SEX CRIMES', value='SEX CRIMES', inplace = True)

df.loc[df.KY_CD=='120','OFNS_DESC'] ='CHILD ABANDONMENT/NON SUPPORT'

df.loc[df.KY_CD=='125','OFNS_DESC'] ='NYS LAWS-UNCLASSIFIED FELONY'

offenses = df[ ["KY_CD", "OFNS_DESC"] ].drop_duplicates().dropna()
offenses['KY_CD'] = pd.Categorical(pd.to_numeric(offenses['KY_CD'] ).astype(int))
offenses = offenses.set_index("KY_CD")
offenses = offenses.sort_index()
offenses = offenses.reset_index()
offenses

   KY_CD                        OFNS_DESC
0    101  MURDER & NON-NEGL. MANSLAUGHTER
1    102       HOMICIDE-NEGLIGENT-VEHICLE
2    103   HOMICIDE-NEGLIGENT,UNCLASSIFIE
3    104                             RAPE
4    105                          ROBBERY
..   ...                              ...
69   676        NEW YORK CITY HEALTH CODE
70   677                 OTHER STATE LAWS
71   678          MISCELLANEOUS PENAL LAW
72   685             ADMINISTRATIVE CODES
73   881         OTHER TRAFFIC INFRACTION

[74 rows x 2 columns]

In [125]:
df.KY_CD = pd.Categorical(df.KY_CD)

In [126]:
df = df.drop('OFNS_DESC', axis='columns')

### 9   PD_CD              object
### 10  PD_DESC            object

In [127]:



df.loc[df.PD_CD=='694','PD_DESC'] ='INCEST'

df.loc[df.PD_CD=='234','PD_DESC'] ='BURGLARY,UNKNOWN TIME'

internal = df[ ["PD_CD", "PD_DESC"] ].drop_duplicates().dropna()
internal['PD_CD'] = pd.Categorical(pd.to_numeric(internal['PD_CD'] ).astype(int))
internal = internal.set_index("PD_CD")
internal = internal.sort_index()
internal = internal.reset_index()
internal

    PD_CD                         PD_DESC
0     100     STALKING COMMIT SEX OFFENSE
1     101                       ASSAULT 3
2     102     ASSAULT SCHOOL SAFETY AGENT
3     103           ASSAULT TRAFFIC AGENT
4     104  VEHICULAR ASSAULT (INTOX DRIVE
..    ...                             ...
427   916  LEAVING SCENE-ACCIDENT-PERSONA
428   918                RECKLESS DRIVING
429   922  TRAFFIC,UNCLASSIFIED MISDEMEAN
430   969  TRAFFIC,UNCLASSIFIED INFRACTIO
431   975     ENVIRONMENTAL CONTROL BOARD

[432 rows x 2 columns]

In [128]:
df.PD_CD.isnull().sum()

6244

In [129]:
# df = df[~df.PD_CD.isnull()]

In [130]:
df.PD_CD = pd.Categorical(df.PD_CD)

In [131]:
df = df.drop('PD_DESC', axis='columns')

### 11  CRM_ATPT_CPTD_CD   object

In [132]:
df.CRM_ATPT_CPTD_CD.value_counts()

COMPLETED    7233460
ATTEMPTED     125429
Name: CRM_ATPT_CPTD_CD, dtype: int64

In [133]:
df.CRM_ATPT_CPTD_CD = pd.Categorical(df.CRM_ATPT_CPTD_CD)

In [134]:
df.CRM_ATPT_CPTD_CD.isnull().sum()

7

In [135]:
# df = df [ ~df.CRM_ATPT_CPTD_CD.isnull() ]

### 12  LAW_CAT_CD         object

In [136]:
df.LAW_CAT_CD.value_counts()

MISDEMEANOR    4132786
FELONY         2267895
VIOLATION       958215
Name: LAW_CAT_CD, dtype: int64

In [137]:
df.LAW_CAT_CD = pd.Categorical(df.LAW_CAT_CD)

### 16  JURIS_DESC         object
### 17  JURISDICTION_CODE  object

In [138]:
df.JURISDICTION_CODE.isnull().sum()

6244

In [139]:
# df = df[ ~df.JURISDICTION_CODE.isnull() ]

jusridiction = df[ ["JURISDICTION_CODE", "JURIS_DESC", ] ].drop_duplicates().dropna()
jusridiction['JURISDICTION_CODE'] = pd.to_numeric(jusridiction['JURISDICTION_CODE'] )
jusridiction['JURISDICTION_CODE'] = jusridiction['JURISDICTION_CODE'].astype(int)
jusridiction = jusridiction.set_index("JURISDICTION_CODE")
jusridiction = jusridiction.sort_index()
jusridiction = jusridiction.reset_index()
jusridiction

    JURISDICTION_CODE                           JURIS_DESC
0                   0                     N.Y. POLICE DEPT
1                   1                  N.Y. TRANSIT POLICE
2                   2                  N.Y. HOUSING POLICE
3                   3                       PORT AUTHORITY
4                   4                  TRI-BORO BRDG TUNNL
5                   6                   LONG ISLAND RAILRD
6                   7                              AMTRACK
7                   8                              CONRAIL
8                   9                 STATN IS RAPID TRANS
9                  11                    N.Y. STATE POLICE
10                 12                     N.Y. STATE PARKS
11                 13                     U.S. PARK POLICE
12                 14                   HEALTH & HOSP CORP
13                 15                          METRO NORTH
14                 16                 SEA GATE POLICE DEPT
15                 69                      POLICE DEPT NYC
16                 71             FIRE DEPT (FIRE MARSHAL)
17                 72                  DEPT OF CORRECTIONS
18                 73             DISTRICT ATTORNEY OFFICE
19                 76    NYC DEPT ENVIRONMENTAL PROTECTION
20                 79  NYS DEPT ENVIRONMENTAL CONSERVATION
21                 85             NYS DEPT TAX AND FINANCE
22                 87         NEW YORK CITY SHERIFF OFFICE
23                 88                            NYC PARKS
24                 97                                OTHER

In [140]:
df.JURISDICTION_CODE = pd.Categorical(df.JURISDICTION_CODE)

In [141]:
df = df.drop('JURIS_DESC', axis='columns')

###  13  BORO_NM            object

In [142]:
df.BORO_NM.value_counts()

BROOKLYN         2181718
MANHATTAN        1767432
BRONX            1596460
QUEENS           1459749
STATEN ISLAND     342243
Name: BORO_NM, dtype: int64

In [143]:
df.BORO_NM.isnull().sum()

11294

In [144]:
# df = df[~df.BORO_NM.isnull()]

In [145]:
df.BORO_NM = pd.Categorical(df.BORO_NM)

### 23  SUSP_AGE_GROUP     object
### 32  VIC_AGE_GROUP      object

In [146]:
# Both columns have a lot of noisy entries. We keep only the dominant groups, and also define an order
df.SUSP_AGE_GROUP = pd.Categorical(df.SUSP_AGE_GROUP, ordered=True, categories=['<18', '18-24',  '25-44', '45-64', '65+'])
df.VIC_AGE_GROUP = pd.Categorical(df.VIC_AGE_GROUP, ordered=True, categories=['<18', '18-24',  '25-44', '45-64', '65+'])


### 24  SUSP_RACE          object
### 25  SUSP_SEX           object

### 33  VIC_RACE           object
### 34  VIC_SEX            object

In [147]:
df.VIC_SEX.isnull().sum()

308

In [206]:
df.VIC_SEX.value_counts()

F    2879885
M    2429348
E    1149285
D     900066
Name: VIC_SEX, dtype: int64

In [208]:
# df = df[~df.VIC_SEX.isnull()]

df.VIC_SEX.replace(to_replace = 'U', value=np.nan, inplace = True)

In [207]:
df.VIC_RACE.isnull().sum()

309

In [209]:
df.VIC_RACE.value_counts()

UNKNOWN                           2428290
BLACK                             1766497
WHITE                             1265086
WHITE HISPANIC                    1189053
ASIAN / PACIFIC ISLANDER           425865
BLACK HISPANIC                     250438
AMERICAN INDIAN/ALASKAN NATIVE      33358
Name: VIC_RACE, dtype: int64

In [152]:
df.VIC_RACE.replace(to_replace = 'OTHER', value='UNKNOWN', inplace = True)

In [153]:
# df = df[~df.VIC_RACE.isnull()]

In [154]:
df.SUSP_SEX.value_counts()

M    2388690
F     754564
U     661498
Name: SUSP_SEX, dtype: int64

In [155]:
# U is unknown, same is NULL.
df.SUSP_SEX.replace(to_replace = 'U', value=np.nan, inplace = True)

In [156]:
df.SUSP_RACE.value_counts()

BLACK                             1469872
UNKNOWN                           1029634
WHITE HISPANIC                     668043
WHITE                              429276
BLACK HISPANIC                     203201
ASIAN / PACIFIC ISLANDER           126097
AMERICAN INDIAN/ALASKAN NATIVE      11879
OTHER                                  11
Name: SUSP_RACE, dtype: int64

In [157]:
# Very small amount of OTHER values
df.SUSP_RACE.replace(to_replace = 'OTHER', value='UNKNOWN', inplace = True)

In [158]:
df.SUSP_RACE = pd.Categorical(df.SUSP_RACE)
df.SUSP_SEX = pd.Categorical(df.SUSP_SEX)
df.VIC_RACE = pd.Categorical(df.VIC_RACE)
df.VIC_SEX = pd.Categorical(df.VIC_SEX)

In [159]:
df.dtypes

CMPLNT_NUM                    int32
ADDR_PCT_CD                category
RPT_DT               datetime64[ns]
KY_CD                      category
PD_CD                      category
CRM_ATPT_CPTD_CD           category
LAW_CAT_CD                 category
BORO_NM                    category
LOC_OF_OCCUR_DESC            object
PREM_TYP_DESC                object
JURISDICTION_CODE          category
PARKS_NM                     object
HADEVELOPT                   object
HOUSING_PSA                  object
SUSP_AGE_GROUP             category
SUSP_RACE                  category
SUSP_SEX                   category
TRANSIT_DISTRICT             object
Latitude                     object
Longitude                    object
PATROL_BORO                  object
STATION_NAME                 object
VIC_AGE_GROUP              category
VIC_RACE                   category
VIC_SEX                    category
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
dtype: object

###  14  LOC_OF_OCCUR_DESC  object

In [160]:
df.LOC_OF_OCCUR_DESC.value_counts()

INSIDE         3736424
FRONT OF       1724609
OPPOSITE OF     195550
REAR OF         157076
OUTSIDE           3797
Name: LOC_OF_OCCUR_DESC, dtype: int64

In [161]:
df.LOC_OF_OCCUR_DESC.isnull().sum()

1541440

In [162]:
df.LOC_OF_OCCUR_DESC = pd.Categorical(df.LOC_OF_OCCUR_DESC)

### Latitude                     object
### Longitude                    object

In [163]:
df.Latitude = pd.to_numeric(df.Latitude, downcast='float')
df.Longitude  = pd.to_numeric(df.Longitude, downcast='float')

### TRANSIT_DISTRICT

In [164]:
df.TRANSIT_DISTRICT.value_counts()

4     27714
2     20152
3     15768
1     15762
20    14422
33    14339
12    12224
11    11137
32    11068
30    10476
34     7196
23     2691
Name: TRANSIT_DISTRICT, dtype: int64

In [165]:
len(df) - df.TRANSIT_DISTRICT.isnull().sum()

162949

In [166]:
df.drop('TRANSIT_DISTRICT', axis='columns', inplace=True)

### PREM_TYP_DESC

In [167]:
df.PREM_TYP_DESC.value_counts()

STREET                        2349271
RESIDENCE - APT. HOUSE        1559459
RESIDENCE-HOUSE                723557
RESIDENCE - PUBLIC HOUSING     552225
OTHER                          199213
                               ...
CEMETERY                          854
MAILBOX INSIDE                    689
LOAN COMPANY                      494
TRAMWAY                           138
DAYCARE FACILITY                   53
Name: PREM_TYP_DESC, Length: 74, dtype: int64

In [168]:
df.PREM_TYP_DESC.isnull().sum()

40631

In [169]:
# df = df [~df.PREM_TYP_DESC.isnull()]

In [170]:
df.PREM_TYP_DESC = pd.Categorical(df.PREM_TYP_DESC)

In [171]:
df.PARKS_NM.value_counts()

CENTRAL PARK                      1636
FLUSHING MEADOWS CORONA PARK      1313
CONEY ISLAND BEACH & BOARDWALK    1059
WASHINGTON SQUARE PARK             775
RIVERSIDE PARK                     614
                                  ...
SIREN SLOPE                          1
GREGORY'S GARDEN                     1
MARINERS MARSH PARK                  1
VETERANS TRIANGLE                    1
HARMONY PARK                         1
Name: PARKS_NM, Length: 1205, dtype: int64

In [172]:
df.PARKS_NM.value_counts().sum()

27588

In [173]:
df.drop('PARKS_NM', axis='columns', inplace=True)


 19  HADEVELOPT         object

In [174]:
df.HADEVELOPT.value_counts()

CASTLE HILL                                    7540
VAN DYKE I                                     6097
MARCY                                          5588
BUTLER                                         5225
GRANT                                          5192
                                               ...
BRONXCHESTER                                      1
1010 EAST 178TH STREET                            1
FRANKLIN AVENUE III MHOP                          1
FOREST HILLS COOP (108TH STREET-62ND DRIVE)       1
344 EAST 28TH STREET                              1
Name: HADEVELOPT, Length: 279, dtype: int64

In [175]:
df.drop('HADEVELOPT', axis='columns', inplace=True)

 20  HOUSING_PSA        object

In [176]:
df.HOUSING_PSA.value_counts()

670      7320
887      7255
845      6773
720      6466
632      6320
         ...
35363       1
30843       1
34211       1
37381       1
16148       1
Name: HOUSING_PSA, Length: 5101, dtype: int64

In [177]:
df.HOUSING_PSA.value_counts().sum()

565681

In [178]:
df.drop('HOUSING_PSA', axis='columns', inplace=True)

 30  PATROL_BORO        object

In [179]:
df.PATROL_BORO.value_counts()

PATROL BORO BRONX            1597242
PATROL BORO BKLYN SOUTH      1093209
PATROL BORO BKLYN NORTH      1090017
PATROL BORO MAN SOUTH         889678
PATROL BORO MAN NORTH         876950
PATROL BORO QUEENS NORTH      755020
PATROL BORO QUEENS SOUTH      707715
PATROL BORO STATEN ISLAND     342364
Name: PATROL_BORO, dtype: int64

In [180]:
df.PATROL_BORO = pd.Categorical(df.PATROL_BORO)

In [181]:
df.PATROL_BORO.isnull().sum()

6701

In [182]:
# df = df[~df.PATROL_BORO.isnull()]

 31  STATION_NAME       object

In [183]:
df.STATION_NAME.value_counts()

125 STREET                        8182
14 STREET                         4520
34 ST.-PENN STATION               3837
42 ST.-PORT AUTHORITY BUS TERM    3729
116 STREET                        3308
                                  ...
DISTRICT 12 OFFICE                  18
DISTRICT 30 OFFICE                  17
DISTRICT 34 OFFICE                  13
DISTRICT 23 OFFICE                   6
OFF-SYSTEM                           4
Name: STATION_NAME, Length: 372, dtype: int64

In [184]:
df.STATION_NAME.isnull().sum()

7195947

In [185]:
df.drop('STATION_NAME', axis='columns', inplace=True)

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358896 entries, 0 to 7396618
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int32
 1   ADDR_PCT_CD        category
 2   RPT_DT             datetime64[ns]
 3   KY_CD              category
 4   PD_CD              category
 5   CRM_ATPT_CPTD_CD   category
 6   LAW_CAT_CD         category
 7   BORO_NM            category
 8   LOC_OF_OCCUR_DESC  category
 9   PREM_TYP_DESC      category
 10  JURISDICTION_CODE  category
 11  SUSP_AGE_GROUP     category
 12  SUSP_RACE          category
 13  SUSP_SEX           category
 14  Latitude           float32
 15  Longitude          float32
 16  PATROL_BORO        category
 17  VIC_AGE_GROUP      category
 18  VIC_RACE           category
 19  VIC_SEX            category
 20  CMPLNT_FR          datetime64[ns]
 21  CMPLNT_TO          datetime64[ns]
dtypes: category(16), datetime64[ns](3), float32(2), int32(1)
memory usage: 428.1 MB

## Data exploration

In this part we check the different values that appear in the columns. When we detect noisy results, we delete the corresponding values. In fact, many of the operations that are performed above, in the 'data cleaning' section, are the result of observations that we make here.

In [187]:
# Find the unique values in each column
# 
# df.describe(include = [np.object, 'category']).T['unique']
unique = df.describe(include = 'all').T['unique'].sort_values()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  after removing the cwd from sys.path.

In [188]:
unique

CRM_ATPT_CPTD_CD           2
SUSP_SEX                   2
LAW_CAT_CD                 3
VIC_SEX                    5
BORO_NM                    5
LOC_OF_OCCUR_DESC          5
VIC_AGE_GROUP              5
SUSP_AGE_GROUP             5
VIC_RACE                   7
SUSP_RACE                  7
PATROL_BORO                8
JURISDICTION_CODE         25
KY_CD                     74
PREM_TYP_DESC             74
ADDR_PCT_CD               78
PD_CD                    432
RPT_DT                  5479
CMPLNT_FR            2050976
CMPLNT_TO            2260686
CMPLNT_NUM               NaN
Latitude                 NaN
Longitude                NaN
Name: unique, dtype: object

In [189]:
for column in unique.index:
    if unique[column] < 200:
        print(df[column].value_counts())
        print("=====")

COMPLETED    7233460
ATTEMPTED     125429
Name: CRM_ATPT_CPTD_CD, dtype: int64
=====
M    2388690
F     754564
Name: SUSP_SEX, dtype: int64
=====
MISDEMEANOR    4132786
FELONY         2267895
VIOLATION       958215
Name: LAW_CAT_CD, dtype: int64
=====
F    2879885
M    2429348
E    1149285
D     900066
U          4
Name: VIC_SEX, dtype: int64
=====
BROOKLYN         2181718
MANHATTAN        1767432
BRONX            1596460
QUEENS           1459749
STATEN ISLAND     342243
Name: BORO_NM, dtype: int64
=====
INSIDE         3736424
FRONT OF       1724609
OPPOSITE OF     195550
REAR OF         157076
OUTSIDE           3797
Name: LOC_OF_OCCUR_DESC, dtype: int64
=====
25-44    2428201
45-64    1265080
18-24     748012
<18       337883
65+       258537
Name: VIC_AGE_GROUP, dtype: int64
=====
25-44    1013290
18-24     386914
45-64     360381
<18       108481
65+        30041
Name: SUSP_AGE_GROUP, dtype: int64
=====
UNKNOWN                           2428290
BLACK                             1766497
WHITE                             1265086
WHITE HISPANIC                    1189053
ASIAN / PACIFIC ISLANDER           425865
BLACK HISPANIC                     250438
AMERICAN INDIAN/ALASKAN NATIVE      33358
Name: VIC_RACE, dtype: int64
=====
BLACK                             1469872
UNKNOWN                           1029645
WHITE HISPANIC                     668043
WHITE                              429276
BLACK HISPANIC                     203201
ASIAN / PACIFIC ISLANDER           126097
AMERICAN INDIAN/ALASKAN NATIVE      11879
Name: SUSP_RACE, dtype: int64
=====
PATROL BORO BRONX            1597242
PATROL BORO BKLYN SOUTH      1093209
PATROL BORO BKLYN NORTH      1090017
PATROL BORO MAN SOUTH         889678
PATROL BORO MAN NORTH         876950
PATROL BORO QUEENS NORTH      755020
PATROL BORO QUEENS SOUTH      707715
PATROL BORO STATEN ISLAND     342364
Name: PATROL_BORO, dtype: int64
=====
0     6536093
2      560542
1      163229
3       34212
97      24061
72       9553
69       8950
4        5674
14       3683
11       1879
88       1122
15        820
6         547
71        477
12        456
9         439
13        281
87        278
7         188
85        106
16         30
8          16
76         14
79          1
73          1
Name: JURISDICTION_CODE, dtype: int64
=====
341    1241358
578     943483
344     773226
109     636175
351     618316
        ...
881         15
357         12
123          7
362          4
577          3
Name: KY_CD, Length: 74, dtype: int64
=====
STREET                        2349271
RESIDENCE - APT. HOUSE        1559459
RESIDENCE-HOUSE                723557
RESIDENCE - PUBLIC HOUSING     552225
OTHER                          199213
                               ...
CEMETERY                          854
MAILBOX INSIDE                    689
LOAN COMPANY                      494
TRAMWAY                           138
DAYCARE FACILITY                   53
Name: PREM_TYP_DESC, Length: 74, dtype: int64
=====
75     236553
43     189298
44     183760
40     178033
14     166540
        ...
123     45760
76      41048
100     39176
22       5712
99        667
Name: ADDR_PCT_CD, Length: 78, dtype: int64
=====

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358896 entries, 0 to 7396618
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int32
 1   ADDR_PCT_CD        category
 2   RPT_DT             datetime64[ns]
 3   KY_CD              category
 4   PD_CD              category
 5   CRM_ATPT_CPTD_CD   category
 6   LAW_CAT_CD         category
 7   BORO_NM            category
 8   LOC_OF_OCCUR_DESC  category
 9   PREM_TYP_DESC      category
 10  JURISDICTION_CODE  category
 11  SUSP_AGE_GROUP     category
 12  SUSP_RACE          category
 13  SUSP_SEX           category
 14  Latitude           float32
 15  Longitude          float32
 16  PATROL_BORO        category
 17  VIC_AGE_GROUP      category
 18  VIC_RACE           category
 19  VIC_SEX            category
 20  CMPLNT_FR          datetime64[ns]
 21  CMPLNT_TO          datetime64[ns]
dtypes: category(16), datetime64[ns](3), float32(2), int32(1)
memory usage: 428.1 MB

In [191]:
df['PREM_TYP_DESC'].value_counts().count()

74

In [192]:
# All columns, except for the dates and spatial coordinates, are categorical
# Columns with less than a few thousand unique values are good candidates 
# for ENUMs in the database given that the dataset is static.
# Also, in Pandas the internal representation becomes much more efficient
# as the Categoricals are stored as integers and not as strings
for column in unique.index:
    if column == 'RPT_DT':
        continue
    if df[column].value_counts().count() < 1000:
      df[column] = pd.Categorical(df[column])

In [193]:
# With all the proper data typing the dataset went down in size from 1.9Gb+ to 425Mb.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358896 entries, 0 to 7396618
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int32
 1   ADDR_PCT_CD        category
 2   RPT_DT             datetime64[ns]
 3   KY_CD              category
 4   PD_CD              category
 5   CRM_ATPT_CPTD_CD   category
 6   LAW_CAT_CD         category
 7   BORO_NM            category
 8   LOC_OF_OCCUR_DESC  category
 9   PREM_TYP_DESC      category
 10  JURISDICTION_CODE  category
 11  SUSP_AGE_GROUP     category
 12  SUSP_RACE          category
 13  SUSP_SEX           category
 14  Latitude           float32
 15  Longitude          float32
 16  PATROL_BORO        category
 17  VIC_AGE_GROUP      category
 18  VIC_RACE           category
 19  VIC_SEX            category
 20  CMPLNT_FR          datetime64[ns]
 21  CMPLNT_TO          datetime64[ns]
dtypes: category(16), datetime64[ns](3), float32(2), int32(1)
memory usage: 428.1 MB

In [194]:
df.memory_usage()

Index                58871168
CMPLNT_NUM           29435584
ADDR_PCT_CD           7362080
RPT_DT               58871168
KY_CD                 7362048
PD_CD                14741728
CRM_ATPT_CPTD_CD      7358992
LAW_CAT_CD            7359000
BORO_NM               7359096
LOC_OF_OCCUR_DESC     7359096
PREM_TYP_DESC         7362048
JURISDICTION_CODE     7359736
SUSP_AGE_GROUP        7359096
SUSP_RACE             7359272
SUSP_SEX              7358992
Latitude             29435584
Longitude            29435584
PATROL_BORO           7359280
VIC_AGE_GROUP         7359096
VIC_RACE              7359272
VIC_SEX               7359096
CMPLNT_FR            58871168
CMPLNT_TO            58871168
dtype: int64

In [195]:
df.dtypes

CMPLNT_NUM                    int32
ADDR_PCT_CD                category
RPT_DT               datetime64[ns]
KY_CD                      category
PD_CD                      category
CRM_ATPT_CPTD_CD           category
LAW_CAT_CD                 category
BORO_NM                    category
LOC_OF_OCCUR_DESC          category
PREM_TYP_DESC              category
JURISDICTION_CODE          category
SUSP_AGE_GROUP             category
SUSP_RACE                  category
SUSP_SEX                   category
Latitude                    float32
Longitude                   float32
PATROL_BORO                category
VIC_AGE_GROUP              category
VIC_RACE                   category
VIC_SEX                    category
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
dtype: object

In [197]:
df.dtypes

CMPLNT_NUM                    int32
ADDR_PCT_CD                category
RPT_DT               datetime64[ns]
KY_CD                      category
PD_CD                      category
CRM_ATPT_CPTD_CD           category
LAW_CAT_CD                 category
BORO_NM                    category
LOC_OF_OCCUR_DESC          category
PREM_TYP_DESC              category
JURISDICTION_CODE          category
SUSP_AGE_GROUP             category
SUSP_RACE                  category
SUSP_SEX                   category
Latitude                    float32
Longitude                   float32
PATROL_BORO                category
VIC_AGE_GROUP              category
VIC_RACE                   category
VIC_SEX                    category
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
dtype: object

## Storing in a MySQL database

In [198]:
!sudo pip3 install -U -q PyMySQL sqlalchemy sql_magic

In [211]:
import os
from sqlalchemy import create_engine

conn_string = 'mysql+pymysql://{user}:{password}@{host}/?charset=utf8mb4'.format(
    host = 'db.ipeirotis.org', 
    user = 'root',
    password = 'ae6jQniBS5muV27', #os.environ['MYSQL_PASSWORD'],
    encoding = 'utf8mb4')

engine = create_engine(conn_string)
con = engine.connect()

In [212]:
# Query to create a database
db_name = 'nypd'

sql = f"DROP DATABASE IF EXISTS {db_name}"
engine.execute(sql)

# Create a database
sql = f"CREATE DATABASE IF NOT EXISTS {db_name} DEFAULT CHARACTER SET 'utf8mb4'"
engine.execute(sql)

In [213]:

# And lets switch to the database
sql = f"USE {db_name}"
engine.execute(sql)

In [214]:
# In principle, we can let Pandas create the table, but we want to be a bit more predise
# with the data types, and we want to add documentation for each column
# from https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i


create_table_sql = '''
CREATE TABLE nypd (
  CMPLNT_NUM int,
  CMPLNT_FR datetime,
  CMPLNT_TO datetime,
  RPT_DT date,
  KY_CD SMALLINT,
  PD_CD SMALLINT,
  CRM_ATPT_CPTD_CD enum('COMPLETED','ATTEMPTED'),
  LAW_CAT_CD enum('FELONY','MISDEMEANOR','VIOLATION'),
  JURISDICTION_CODE SMALLINT,
  BORO_NM enum('BRONX','BROOKLYN','MANHATTAN','QUEENS','STATEN ISLAND'),
  ADDR_PCT_CD SMALLINT,
  LOC_OF_OCCUR_DESC enum('FRONT OF','INSIDE','OPPOSITE OF','OUTSIDE','REAR OF'),
  PATROL_BORO enum('PATROL BORO BRONX', 'PATROL BORO BKLYN SOUTH','PATROL BORO BKLYN NORTH','PATROL BORO MAN SOUTH','PATROL BORO MAN NORTH','PATROL BORO QUEENS NORTH','PATROL BORO QUEENS SOUTH','PATROL BORO STATEN ISLAND'),
  PREM_TYP_DESC varchar(30),
  SUSP_RACE enum('UNKNOWN', 'BLACK', 'WHITE', 'WHITE HISPANIC', 'ASIAN / PACIFIC ISLANDER', 'BLACK HISPANIC', 'AMERICAN INDIAN/ALASKAN NATIVE'),
  VIC_RACE enum('UNKNOWN', 'BLACK', 'WHITE', 'WHITE HISPANIC', 'ASIAN / PACIFIC ISLANDER', 'BLACK HISPANIC', 'AMERICAN INDIAN/ALASKAN NATIVE'),
  SUSP_AGE_GROUP enum('<18', '18-24',  '25-44', '45-64', '65+'),
  VIC_AGE_GROUP enum('<18', '18-24',  '25-44', '45-64', '65+'),
  SUSP_SEX enum('M', 'F'),
  VIC_SEX enum('M', 'F', 'E', 'D'),
  Latitude double,
  Longitude double,
  PRIMARY KEY (CMPLNT_NUM)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
engine.execute(create_table_sql)

In [215]:
# Create a table
# See http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html for the documentation
from tqdm import tqdm
batchsize = 50000
batches = len(df) // batchsize + 1

t = tqdm(range(batches))

for i in t:
    # print("Batch:",i)
    # continue # Cannot execute this on Travis
    start = batchsize * i
    end = batchsize * (i+1)
    df[start:end].to_sql(
        name = 'nypd', 
        schema = db_name, 
        con = engine,
        if_exists = 'append',
        index = False, 
        chunksize = 1000)

  0%|          | 0/148 [00:00<?, ?it/s]
  1%|          | 1/148 [00:11<26:56, 11.00s/it]
  1%|▏         | 2/148 [00:21<26:19, 10.82s/it]
  2%|▏         | 3/148 [00:31<25:58, 10.75s/it]
  3%|▎         | 4/148 [00:42<25:32, 10.65s/it]
  3%|▎         | 5/148 [00:52<25:10, 10.57s/it]
  4%|▍         | 6/148 [01:03<24:52, 10.51s/it]
  5%|▍         | 7/148 [01:13<24:45, 10.54s/it]
  5%|▌         | 8/148 [01:24<24:32, 10.51s/it]
  6%|▌         | 9/148 [01:34<24:21, 10.52s/it]
  7%|▋         | 10/148 [01:45<24:09, 10.51s/it]
  7%|▋         | 11/148 [01:55<23:56, 10.48s/it]
  8%|▊         | 12/148 [02:06<23:49, 10.51s/it]
  9%|▉         | 13/148 [02:16<23:44, 10.55s/it]
  9%|▉         | 14/148 [02:27<23:35, 10.56s/it]
 10%|█         | 15/148 [02:38<23:29, 10.60s/it]
 11%|█         | 16/148 [02:48<23:15, 10.57s/it]
 11%|█▏        | 17/148 [02:59<23:06, 10.58s/it]
 12%|█▏        | 18/148 [03:09<22:55, 10.58s/it]
 13%|█▎        | 19/148 [03:20<22:39, 10.54s/it]
 14%|█▎        | 20/148 [03:30<22:30, 10.55s/it]
 14%|█▍        | 21/148 [03:41<22:20, 10.56s/it]
 15%|█▍        | 22/148 [03:51<22:05, 10.52s/it]
 16%|█▌        | 23/148 [04:02<21:57, 10.54s/it]
 16%|█▌        | 24/148 [04:12<21:42, 10.50s/it]
 17%|█▋        | 25/148 [04:23<21:32, 10.51s/it]
 18%|█▊        | 26/148 [04:33<21:19, 10.49s/it]
 18%|█▊        | 27/148 [04:44<21:10, 10.50s/it]
 19%|█▉        | 28/148 [04:54<21:00, 10.50s/it]
 20%|█▉        | 29/148 [05:05<20:46, 10.47s/it]
 20%|██        | 30/148 [05:15<20:33, 10.45s/it]
 21%|██        | 31/148 [05:26<20:28, 10.50s/it]
 22%|██▏       | 32/148 [05:36<20:15, 10.47s/it]
 22%|██▏       | 33/148 [05:47<20:11, 10.53s/it]
 23%|██▎       | 34/148 [05:57<19:59, 10.52s/it]
 24%|██▎       | 35/148 [06:08<19:51, 10.55s/it]
 24%|██▍       | 36/148 [06:18<19:36, 10.51s/it]
 25%|██▌       | 37/148 [06:29<19:23, 10.48s/it]
 26%|██▌       | 38/148 [06:39<19:10, 10.46s/it]
 26%|██▋       | 39/148 [06:50<19:03, 10.49s/it]
 27%|██▋       | 40/148 [07:00<18:50, 10.47s/it]
 28%|██▊       | 41/148 [07:11<18:37, 10.45s/it]
 28%|██▊       | 42/148 [07:21<18:25, 10.43s/it]
 29%|██▉       | 43/148 [07:31<18:17, 10.46s/it]
 30%|██▉       | 44/148 [07:42<18:08, 10.46s/it]
 30%|███       | 45/148 [07:52<17:56, 10.45s/it]
 31%|███       | 46/148 [08:03<17:47, 10.47s/it]
 32%|███▏      | 47/148 [08:13<17:36, 10.46s/it]
 32%|███▏      | 48/148 [08:24<17:24, 10.44s/it]
 33%|███▎      | 49/148 [08:34<17:16, 10.46s/it]
 34%|███▍      | 50/148 [08:45<17:07, 10.48s/it]
 34%|███▍      | 51/148 [08:55<16:53, 10.45s/it]
 35%|███▌      | 52/148 [09:06<16:48, 10.50s/it]
 36%|███▌      | 53/148 [09:16<16:35, 10.48s/it]
 36%|███▋      | 54/148 [09:27<16:27, 10.50s/it]
 37%|███▋      | 55/148 [09:37<16:17, 10.51s/it]
 38%|███▊      | 56/148 [09:48<16:05, 10.50s/it]
 39%|███▊      | 57/148 [09:58<15:56, 10.51s/it]
 39%|███▉      | 58/148 [10:09<15:51, 10.57s/it]
 40%|███▉      | 59/148 [10:19<15:36, 10.52s/it]
 41%|████      | 60/148 [10:30<15:22, 10.48s/it]
 41%|████      | 61/148 [10:40<15:10, 10.46s/it]
 42%|████▏     | 62/148 [10:51<15:01, 10.49s/it]
 43%|████▎     | 63/148 [11:01<14:49, 10.47s/it]
 43%|████▎     | 64/148 [11:12<14:37, 10.45s/it]
 44%|████▍     | 65/148 [11:22<14:31, 10.50s/it]
 45%|████▍     | 66/148 [11:33<14:20, 10.49s/it]
 45%|████▌     | 67/148 [11:43<14:07, 10.46s/it]
 46%|████▌     | 68/148 [11:54<13:56, 10.46s/it]
 47%|████▋     | 69/148 [12:04<13:47, 10.48s/it]
 47%|████▋     | 70/148 [12:15<13:37, 10.48s/it]
 48%|████▊     | 71/148 [12:25<13:26, 10.48s/it]
 49%|████▊     | 72/148 [12:36<13:18, 10.50s/it]
 49%|████▉     | 73/148 [12:46<13:06, 10.48s/it]
 50%|█████     | 74/148 [12:56<12:54, 10.47s/it]
 51%|█████     | 75/148 [13:07<12:45, 10.49s/it]
 51%|█████▏    | 76/148 [13:17<12:34, 10.47s/it]
 52%|█████▏    | 77/148 [13:28<12:23, 10.47s/it]
 53%|█████▎    | 78/148 [13:38<12:14, 10.49s/it]
 53%|█████▎    | 79/148 [13:49<12:02, 10.48s/it]
 54%|█████▍    | 80/148 [13:59<11:53, 10.49s/it]
 55%|█████▍    | 81/148 [14:10<11:48, 10.58s/it]
 55%|█████▌    | 82/148 [14:21<11:35, 10.54s/it]
 56%|█████▌    | 83/148 [14:31<11:22, 10.50s/it]
 57%|█████▋    | 84/148 [14:42<11:13, 10.52s/it]
 57%|█████▋    | 85/148 [14:52<11:00, 10.48s/it]
 58%|█████▊    | 86/148 [15:02<10:49, 10.47s/it]
 59%|█████▉    | 87/148 [15:13<10:40, 10.50s/it]
 59%|█████▉    | 88/148 [15:24<10:32, 10.54s/it]
 60%|██████    | 89/148 [15:34<10:21, 10.53s/it]
 61%|██████    | 90/148 [15:45<10:11, 10.54s/it]
 61%|██████▏   | 91/148 [15:55<10:00, 10.54s/it]
 62%|██████▏   | 92/148 [16:06<09:49, 10.52s/it]
 63%|██████▎   | 93/148 [16:16<09:38, 10.51s/it]
 64%|██████▎   | 94/148 [16:27<09:29, 10.54s/it]
 64%|██████▍   | 95/148 [16:37<09:17, 10.51s/it]
 65%|██████▍   | 96/148 [16:48<09:05, 10.49s/it]
 66%|██████▌   | 97/148 [16:58<08:54, 10.47s/it]
 66%|██████▌   | 98/148 [17:09<08:45, 10.51s/it]
 67%|██████▋   | 99/148 [17:19<08:34, 10.51s/it]
 68%|██████▊   | 100/148 [17:30<08:23, 10.49s/it]
 68%|██████▊   | 101/148 [17:40<08:14, 10.52s/it]
 69%|██████▉   | 102/148 [17:51<08:04, 10.53s/it]
 70%|██████▉   | 103/148 [18:01<07:52, 10.50s/it]
 70%|███████   | 104/148 [18:12<07:46, 10.60s/it]
 71%|███████   | 105/148 [18:23<07:35, 10.60s/it]
 72%|███████▏  | 106/148 [18:33<07:23, 10.55s/it]
 72%|███████▏  | 107/148 [18:44<07:12, 10.55s/it]
 73%|███████▎  | 108/148 [18:54<07:02, 10.56s/it]
 74%|███████▎  | 109/148 [19:05<06:52, 10.58s/it]
 74%|███████▍  | 110/148 [19:15<06:42, 10.59s/it]
 75%|███████▌  | 111/148 [19:26<06:31, 10.59s/it]
 76%|███████▌  | 112/148 [19:37<06:21, 10.60s/it]
 76%|███████▋  | 113/148 [19:47<06:10, 10.60s/it]
 77%|███████▋  | 114/148 [19:58<05:58, 10.55s/it]
 78%|███████▊  | 115/148 [20:08<05:48, 10.57s/it]
 78%|███████▊  | 116/148 [20:19<05:37, 10.55s/it]
 79%|███████▉  | 117/148 [20:29<05:26, 10.52s/it]
 80%|███████▉  | 118/148 [20:40<05:16, 10.55s/it]
 80%|████████  | 119/148 [20:50<05:06, 10.56s/it]
 81%|████████  | 120/148 [21:01<04:54, 10.52s/it]
 82%|████████▏ | 121/148 [21:11<04:44, 10.53s/it]
 82%|████████▏ | 122/148 [21:22<04:34, 10.56s/it]
 83%|████████▎ | 123/148 [21:33<04:23, 10.54s/it]
 84%|████████▍ | 124/148 [21:43<04:12, 10.52s/it]
 84%|████████▍ | 125/148 [21:54<04:02, 10.55s/it]
 85%|████████▌ | 126/148 [22:04<03:51, 10.52s/it]
 86%|████████▌ | 127/148 [22:15<03:43, 10.65s/it]
 86%|████████▋ | 128/148 [22:26<03:31, 10.58s/it]
 87%|████████▋ | 129/148 [22:36<03:20, 10.56s/it]
 88%|████████▊ | 130/148 [22:46<03:09, 10.53s/it]
 89%|████████▊ | 131/148 [22:57<02:58, 10.50s/it]
 89%|████████▉ | 132/148 [23:07<02:47, 10.47s/it]
 90%|████████▉ | 133/148 [23:18<02:37, 10.52s/it]
 91%|█████████ | 134/148 [23:28<02:27, 10.51s/it]
 91%|█████████ | 135/148 [23:39<02:16, 10.52s/it]
 92%|█████████▏| 136/148 [23:50<02:06, 10.53s/it]
 93%|█████████▎| 137/148 [24:00<01:56, 10.58s/it]
 93%|█████████▎| 138/148 [24:11<01:45, 10.56s/it]
 94%|█████████▍| 139/148 [24:21<01:35, 10.57s/it]
 95%|█████████▍| 140/148 [24:32<01:24, 10.58s/it]
 95%|█████████▌| 141/148 [24:43<01:14, 10.61s/it]
 96%|█████████▌| 142/148 [24:53<01:03, 10.59s/it]
 97%|█████████▋| 143/148 [25:04<00:52, 10.59s/it]
 97%|█████████▋| 144/148 [25:14<00:42, 10.56s/it]
 98%|█████████▊| 145/148 [25:25<00:31, 10.60s/it]
 99%|█████████▊| 146/148 [25:36<00:21, 10.60s/it]
 99%|█████████▉| 147/148 [25:46<00:10, 10.57s/it]
100%|██████████| 148/148 [25:48<00:00, 10.46s/it]

In [216]:
engine.execute("CREATE INDEX ix_lat ON nypd.nypd(Latitude)")

In [217]:
engine.execute("CREATE INDEX ix_lon ON nypd.nypd(Longitude)")

In [218]:
engine.execute("CREATE INDEX ix_LAW_CAT_CD ON nypd.nypd(LAW_CAT_CD)")

In [219]:
engine.execute("CREATE INDEX ix_BORO_NM ON nypd.nypd(BORO_NM)")

In [220]:
engine.execute("CREATE INDEX ix_KY_CD ON nypd.nypd(KY_CD)")

In [221]:
engine.execute("CREATE INDEX ix_RPT_DT ON nypd.nypd(RPT_DT)")

In [222]:
engine.execute("CREATE INDEX ix_CMPLNT_FR ON nypd.nypd(CMPLNT_FR)")

In [227]:
engine.execute("DROP TABLE IF EXISTS offense_codes;")

create_table_sql = '''
CREATE TABLE offense_codes (
  KY_CD smallint,
  OFNS_DESC varchar(32),
  PRIMARY KEY (KY_CD)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
engine.execute(create_table_sql)

offenses.to_sql(
        name = 'offense_codes', 
        schema = db_name, 
        con = engine,
        if_exists = 'append',
        index = False)

In [228]:
engine.execute("DROP TABLE IF EXISTS jurisdiction_codes;")

create_table_sql = '''
CREATE TABLE jurisdiction_codes (
  JURISDICTION_CODE smallint,
  JURIS_DESC varchar(40),
  PRIMARY KEY (JURISDICTION_CODE)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
engine.execute(create_table_sql)


jusridiction.to_sql(
        name = 'jurisdiction_codes', 
        schema = db_name, 
        con = engine,
        if_exists = 'append',
        index = False)

In [ ]:
internal.PD_DESC.str.len().max()

In [229]:
engine.execute("DROP TABLE IF EXISTS penal_codes;")

create_table_sql = '''
CREATE TABLE penal_codes (
  PD_CD smallint,
  PD_DESC varchar(80),
  PRIMARY KEY (PD_CD)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
engine.execute(create_table_sql)


internal.to_sql(
        name = 'penal_codes', 
        schema = db_name, 
        con = engine,
        if_exists = 'append',
        index = False)

## TODO

### Add the penal code data as a separate table

`!curl 'https://data.cityofnewyork.us/api/views/qgea-i56i/files/65f25845-1551-4d21-91dc-869c977cd93d?download=true&filename=PDCode_PenalLaw.xlsx' -o PDCode_PenalLaw.xlsx`

### Examine whether to normalize

The fields 

  
PREM_TYP_DESC    
HADEVELOPT    
PARKS_NM                     

would be better off as foreign keys or enums. They take too much space as strings.