<a href="https://colab.research.google.com/github/ipeirotis-org/datasets/blob/main/NYPD_Complaint/NYPD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## NYPD Dataset

Dataset description at
https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i


| Column | Description |
|--------|-------------------|
| CMPLNT_NUM |  Randomly generated persistent ID for each complaint  |  
| ADDR_PCT_CD |  The precinct in which the incident occurred |  
| BORO |  The name of the borough in which the incident occurred |  
| CMPLNT_FR_DT |  Exact date of occurrence for the reported event (or starting date of occurrence, if CMPLNT_TO_DT exists) |  
| CMPLNT_FR_TM |  Exact time of occurrence for the reported event (or starting time of occurrence, if CMPLNT_TO_TM exists) |  
| CMPLNT_TO_DT |  Ending date of occurrence for the reported event, if exact time of occurrence is unknown |  
| CMPLNT_TO_TM |  Ending time of occurrence for the reported event, if exact time of occurrence is unknown |  
| CRM_ATPT_CPTD_CD |  Indicator of whether crime was successfully completed or attempted, but failed or was interrupted prematurely |  
| HADEVELOPT |  Name of NYCHA housing development of occurrence, if applicable |  
| HOUSING_PSA |  Development Level Code |  
| JURISDICTION_CODE |  Jurisdiction responsible for incident. Either internal, like Police(0), Transit(1), and Housing(2); or external(3), like Correction, Port Authority, etc. |  
| JURIS_DESC |  Description of the jurisdiction code |  
| KY_CD |  Three digit offense classification code |  
| LAW_CAT_CD |  Level of offense: felony, misdemeanor, violation  |  
| LOC_OF_OCCUR_DESC |  Specific location of occurrence in or around the premises; inside, opposite of, front of, rear of |  
| OFNS_DESC |  Description of offense corresponding with key code |  
| PARKS_NM |  Name of NYC park, playground or greenspace of occurrence, if applicable (state parks are not included) |  
| PATROL_BORO |  The name of the patrol borough in which the incident occurred |  
| PD_CD |  Three digit internal classification code (more granular than Key Code) |  
| PD_DESC |  Description of internal classification corresponding with PD code (more granular than Offense Description) |  
| PREM_TYP_DESC |  Specific description of premises; grocery store, residence, street, etc. |  
| RPT_DT |  Date event was reported to police  |  
| STATION_NAME |  Transit station name |  
| SUSP_AGE_GROUP |  Suspect’s Age Group |  
| SUSP_RACE |  Suspect’s Race Description |  
| SUSP_SEX |  Suspect’s Sex Description |  
| TRANSIT_DISTRICT |  Transit district in which the offense occurred. |  
| VIC_AGE_GROUP |  Victim’s Age Group |  
| VIC_RACE |  Victim’s Race Description |  
| VIC_SEX |  Victim’s Sex Description |  
| X_COORD_CD |  X-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Y_COORD_CD |  Y-coordinate for New York State Plane Coordinate System, Long Island Zone, NAD 83, units feet (FIPS 3104) |  
| Latitude |  Midblock Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)  |  
| Longitude |  Midblock Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326) |

In [2]:
!pip install -q google-cloud-secret-manager

from google.colab import auth
auth.authenticate_user()

from google.cloud import secretmanager

def access_secret_version(project_id, secret_id, version_id):
    """
    Access the payload of the given secret version and return it.

    Args:
        project_id (str): Google Cloud project ID.
        secret_id (str): ID of the secret to access.
        version_id (str): ID of the version to access.
    Returns:
        str: The secret version's payload, or None if
        the version does not exist.
    """
    client = secretmanager.SecretManagerServiceClient()
    name = f"projects/{project_id}/secrets/{secret_id}/versions/{version_id}"
    response = client.access_secret_version(request={"name": name})
    return response.payload.data.decode("UTF-8")


mysql_pass = access_secret_version("nyu-datasets", "MYSQL_PASSWORD", "latest")

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 218.1/218.1 kB 4.8 MB/s eta 0:00:00

In [3]:
import pandas as pd
import numpy as np

In [4]:
# We load everything as an object/string, because some data types (e.g., some IDs)
# are recognized as decimals, and it is a mess to restore them back
# So we will do all the conversions ourselves later on

# From https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i/data
!curl 'https://data.cityofnewyork.us/api/views/qgea-i56i/rows.csv?accessType=DOWNLOAD' -o nypd.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 3079M    0 3079M    0     0  5055k      0 --:--:--  0:10:23 --:--:-- 4424k

In [5]:
%%time
df = pd.read_csv('nypd.csv', low_memory = True, dtype='object')

CPU times: user 31.9 s, sys: 3.54 s, total: 35.5 s
Wall time: 35.3 s

In [6]:
len(df)

9491946

In [7]:
df = df.replace(to_replace = '(null)', value=None)

In [8]:
df = df.replace(to_replace = 'UNKNOWN', value=None)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9491946 entries, 0 to 9491945
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        object
 6   RPT_DT             object
 7   KY_CD              object
 8   OFNS_DESC          object
 9   PD_CD              object
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  object
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         object
 22  Y_COORD_CD         object
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   object
 27  Latitude           object
 28  Longitude          object
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: object(35)
memory usage: 2.5+ GB

## Data Cleaning

In [10]:
# These columns are redundant
to_drop = ['Lat_Lon','X_COORD_CD','Y_COORD_CD']

# We have the longitude and latitude so the other coordinates are not needed
df = df.drop(to_drop, axis='columns')

###  CMPLNT_NUM         object

In [11]:
before = len(df)

# Remove any non-numeric characters from the CMPLNT_NUM attribute
df['CMPLNT_NUM'] = df['CMPLNT_NUM'].str.replace(r'\D', '', regex=True)

df['CMPLNT_NUM'] = pd.to_numeric(df['CMPLNT_NUM'], errors="coerce")
df['CMPLNT_NUM'] = np.abs(df['CMPLNT_NUM'].astype('Int64'))

df = df[~df['CMPLNT_NUM'].isna()]
# Drop cases with duplicated complaint numbers
key_cnt = df['CMPLNT_NUM'].value_counts()
key_cnt [ key_cnt>1 ]
df = df[ ~df['CMPLNT_NUM'].isin( key_cnt [ key_cnt>1 ].index.values ) ]

after = len(df)
print(f'Removed {before - after} rows')

Removed 2210 rows

### CMPLNT_FR_DT       object
### CMPLNT_FR_TM       object
### CMPLNT_TO_DT       object
### CMPLNT_TO_TM       object

In [12]:
# CMPLNT_FR_DT_mask = df.CMPLNT_FR_DT.str.match(r'(\d\d)/(\d\d)/10(\d\d)', na=False)

# CMPLNT_TO_DT_mask = df.CMPLNT_TO_DT.str.match(r'(\d\d)/(\d\d)/10(\d\d)', na=False)

# df[CMPLNT_TO_DT_mask]

In [13]:
# There are a few rows that contain year 1015, 1016, ... that trigger an error during date conversion
# We replace all years written as 10XX with 20XX
# Note the usage of regular expressions
df.CMPLNT_FR_DT = df.CMPLNT_FR_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', regex=True )
df.CMPLNT_TO_DT = df.CMPLNT_TO_DT.replace(to_replace = '(\d\d)/(\d\d)/10(\d\d)', value=r'\1/\2/20\3', regex=True )

# Similarly, a few hours are written as 24:00:00, which also triggers errors.
# We fix these hours
df.CMPLNT_FR_TM = df.CMPLNT_FR_TM.replace(to_replace = '24:00:00', value='00:00:00')
df.CMPLNT_TO_TM = df.CMPLNT_TO_TM.replace(to_replace = '24:00:00', value='00:00:00')

# Convert the two separate date and time columns into single datetime columns
df['CMPLNT_FR'] = pd.to_datetime(df.CMPLNT_FR_DT + ' ' + df.CMPLNT_FR_TM, format='%m/%d/%Y %H:%M:%S', cache=True, errors="coerce")
df['CMPLNT_TO'] = pd.to_datetime(df.CMPLNT_TO_DT + ' ' + df.CMPLNT_TO_TM, format='%m/%d/%Y %H:%M:%S', cache=True, errors="coerce")

# We created the CMPLNT_FR and CMPLNT_TO columns, these columns are redundant
to_drop = ['CMPLNT_FR_DT','CMPLNT_TO_DT','CMPLNT_FR_TM','CMPLNT_TO_TM']
df = df.drop(to_drop, axis='columns')

In [14]:
len(df)

9489736

In [15]:
df.CMPLNT_FR.isnull().sum()

np.int64(702)

In [16]:
df.CMPLNT_TO.isnull().sum()

np.int64(1849326)

In [17]:
before = len(df)
# df = df [ ~df.CMPLNT_FR.isnull() ]
after = len(df)
print(f'Removed {before - after} rows')

Removed 0 rows

In [18]:
len(df)

9489736

###  ADDR_PCT_CD        object

In [19]:
df.ADDR_PCT_CD = df.ADDR_PCT_CD.replace(to_replace = '-99', value='99')
# df = df [ ~df.ADDR_PCT_CD.isnull() ]
# df.ADDR_PCT_CD = pd.Categorical(df.ADDR_PCT_CD)

###  RPT_DT             object

In [20]:
# Convert RPT_DT to date
df.RPT_DT = pd.to_datetime(df.RPT_DT, format="%m/%d/%Y", cache=True)

###   KY_CD  &  OFNS_DESC

In [21]:
df.KY_CD.value_counts(dropna=False)

KY_CD
341    1666568
578    1272986
344     998256
109     831595
351     732787
        ...
460         16
357         15
123          7
362          5
577          3
Name: count, Length: 75, dtype: int64

In [22]:
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'KIDNAPPING', value='KIDNAPPING & RELATED OFFENSES')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'KIDNAPPING AND RELATED OFFENSES', value='KIDNAPPING & RELATED OFFENSES')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED', value='OTHER STATE LAWS (NON PENAL LAW)')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'OTHER STATE LAWS (NON PENAL LA', value='OTHER STATE LAWS (NON PENAL LAW)')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'ENDAN WELFARE INCOMP', value='OFFENSES RELATED TO CHILDREN')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'THEFT OF SERVICES', value='OTHER OFFENSES RELATED TO THEF')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'NYS LAWS-UNCLASSIFIED VIOLATION', value='OTHER STATE LAWS')
df.OFNS_DESC = df.OFNS_DESC.replace(to_replace = 'FELONY SEX CRIMES', value='SEX CRIMES')

df.loc[df.KY_CD=='120','OFNS_DESC'] ='CHILD ABANDONMENT/NON SUPPORT'
df.loc[df.KY_CD=='125','OFNS_DESC'] ='NYS LAWS-UNCLASSIFIED FELONY'

offenses = df[ ["KY_CD", "OFNS_DESC"] ].drop_duplicates().dropna()
# offenses['KY_CD'] = pd.Categorical(pd.to_numeric(offenses['KY_CD'] ).astype(int))
offenses = offenses.set_index("KY_CD")
offenses = offenses.sort_index()
offenses = offenses.reset_index()

offenses = offenses[offenses.OFNS_DESC != "(null)"]
offenses = offenses.groupby('KY_CD', observed=False).first()['OFNS_DESC']
offenses = offenses.reset_index()

display(offenses)

   KY_CD                        OFNS_DESC
0    101  MURDER & NON-NEGL. MANSLAUGHTER
1    102       HOMICIDE-NEGLIGENT-VEHICLE
2    103   HOMICIDE-NEGLIGENT,UNCLASSIFIE
3    104                             RAPE
4    105                          ROBBERY
..   ...                              ...
70   676        NEW YORK CITY HEALTH CODE
71   677                 OTHER STATE LAWS
72   678          MISCELLANEOUS PENAL LAW
73   685             ADMINISTRATIVE CODES
74   881         OTHER TRAFFIC INFRACTION

[75 rows x 2 columns]

In [23]:
# df.KY_CD = pd.Categorical(df.KY_CD)

In [24]:
df = df.drop('OFNS_DESC', axis='columns')

### 9   PD_CD   &  PD_DESC

In [25]:
df.loc[df.PD_CD=='694','PD_DESC'] ='INCEST'
df.loc[df.PD_CD=='234','PD_DESC'] ='BURGLARY,UNKNOWN TIME'

internal = df[ ["PD_CD", "PD_DESC"] ].drop_duplicates().dropna()
# internal['PD_CD'] = pd.Categorical(pd.to_numeric(internal['PD_CD'] ).astype(int))
internal = internal.set_index("PD_CD")
internal = internal.sort_index()
internal = internal.reset_index()

internal = internal.query("PD_DESC !=	'CRIMINAL DISPOSAL FIREARM 1 &' ")
internal = internal.query("PD_DESC !=	'UNFINSH FRAME 2' ")
internal = internal.query("PD_DESC !=	'WEAPONS POSSESSION 1 & 2' ")
internal = internal.query("PD_DESC !=	'CRIM POS WEAP 4' ")

display(internal)

    PD_CD                                 PD_DESC
0     100             STALKING COMMIT SEX OFFENSE
1     101                               ASSAULT 3
2     102             ASSAULT SCHOOL SAFETY AGENT
3     103                   ASSAULT TRAFFIC AGENT
4     104          VEHICULAR ASSAULT (INTOX DRIVE
..    ...                                     ...
438   917  LEAVING THE SCENE OF AN ACCIDENT (SPI)
439   918                        RECKLESS DRIVING
440   922          TRAFFIC,UNCLASSIFIED MISDEMEAN
441   969          TRAFFIC,UNCLASSIFIED INFRACTIO
442   975             ENVIRONMENTAL CONTROL BOARD

[441 rows x 2 columns]

In [26]:
df.PD_CD.isnull().sum()

np.int64(7975)

In [27]:
# df = df[~df.PD_CD.isnull()]

In [28]:
# df.PD_CD = pd.Categorical(df.PD_CD)

In [29]:
df = df.drop('PD_DESC', axis='columns')

### 11  CRM_ATPT_CPTD_CD   object

In [30]:
df.CRM_ATPT_CPTD_CD.value_counts(dropna=False)

CRM_ATPT_CPTD_CD
COMPLETED    9333554
ATTEMPTED     156014
None             168
Name: count, dtype: int64

In [31]:
# df.CRM_ATPT_CPTD_CD = pd.Categorical(df.CRM_ATPT_CPTD_CD)

In [32]:
df.CRM_ATPT_CPTD_CD.isnull().sum()

np.int64(168)

In [33]:
# df = df [ ~df.CRM_ATPT_CPTD_CD.isnull() ]

### 12  LAW_CAT_CD         object

In [34]:
df.LAW_CAT_CD.isnull().sum()

np.int64(0)

In [35]:
df.LAW_CAT_CD.value_counts(dropna=False)

LAW_CAT_CD
MISDEMEANOR    5215578
FELONY         2979762
VIOLATION      1294396
Name: count, dtype: int64

In [36]:
# df.LAW_CAT_CD = pd.Categorical(df.LAW_CAT_CD)

### 16  JURIS_DESC         object
### 17  JURISDICTION_CODE  object

In [37]:
df.JURISDICTION_CODE.isnull().sum()

np.int64(0)

In [38]:
# df = df[ ~df.JURISDICTION_CODE.isnull() ]

jusridiction = df[ ["JURISDICTION_CODE", "JURIS_DESC", ] ].drop_duplicates().dropna()
jusridiction['JURISDICTION_CODE'] = pd.to_numeric(jusridiction['JURISDICTION_CODE'] )
jusridiction['JURISDICTION_CODE'] = jusridiction['JURISDICTION_CODE'].astype(int)
jusridiction = jusridiction.set_index("JURISDICTION_CODE")
jusridiction = jusridiction.sort_index()
jusridiction = jusridiction.reset_index()
display(jusridiction)

    JURISDICTION_CODE                           JURIS_DESC
0                   0                     N.Y. POLICE DEPT
1                   1                  N.Y. TRANSIT POLICE
2                   2                  N.Y. HOUSING POLICE
3                   3                       PORT AUTHORITY
4                   4                  TRI-BORO BRDG TUNNL
5                   6                   LONG ISLAND RAILRD
6                   7                              AMTRACK
7                   8                              CONRAIL
8                   9                 STATN IS RAPID TRANS
9                  11                    N.Y. STATE POLICE
10                 12                     N.Y. STATE PARKS
11                 13                     U.S. PARK POLICE
12                 14                   HEALTH & HOSP CORP
13                 15                          METRO NORTH
14                 16                 SEA GATE POLICE DEPT
15                 17                      MTA POLICE DEPT
16                 51     N.Y.C. DEPT OF HOMELESS SERVICES
17                 52             N.Y.C. DEPT OF PROBATION
18                 69                      POLICE DEPT NYC
19                 71             FIRE DEPT (FIRE MARSHAL)
20                 72                  DEPT OF CORRECTIONS
21                 73             DISTRICT ATTORNEY OFFICE
22                 76    NYC DEPT ENVIRONMENTAL PROTECTION
23                 79  NYS DEPT ENVIRONMENTAL CONSERVATION
24                 85             NYS DEPT TAX AND FINANCE
25                 87         NEW YORK CITY SHERIFF OFFICE
26                 88                            NYC PARKS
27                 97                                OTHER

In [39]:
# df.JURISDICTION_CODE = pd.Categorical(df.JURISDICTION_CODE)

In [40]:
df = df.drop('JURIS_DESC', axis='columns')

###  13  BORO_NM            object

In [41]:
df.BORO_NM.value_counts(dropna=False)

BORO_NM
BROOKLYN         2777012
MANHATTAN        2287628
BRONX            2053831
QUEENS           1928377
STATEN ISLAND     434169
None                8719
Name: count, dtype: int64

In [42]:
# df.BORO_NM.replace(to_replace = '(null)', value=None, inplace = True)

In [43]:
df.BORO_NM.isnull().sum()

np.int64(8719)

In [44]:
# df = df[~df.BORO_NM.isnull()]

In [45]:
# df.BORO_NM = pd.Categorical(df.BORO_NM)

### 23  SUSP_AGE_GROUP     object
### 32  VIC_AGE_GROUP      object

In [46]:
df.SUSP_AGE_GROUP.value_counts(dropna=False).head(10)

SUSP_AGE_GROUP
None     6136537
25-44    1800975
18-24     649381
45-64     626923
<18       216254
65+        58941
1022          25
1023          20
2021          19
2014          17
Name: count, dtype: int64

In [47]:
df.VIC_AGE_GROUP.value_counts(dropna=False).head(10)

VIC_AGE_GROUP
25-44    3165849
None     2939651
45-64    1639418
18-24     948289
<18       439480
65+       356304
930           18
936           17
940           15
935           14
Name: count, dtype: int64

In [48]:
# Both columns have a lot of noisy entries. We keep only the dominant groups,
# and also define an order

# Define the list of valid, ordered age groups
valid_age_groups = ['<18', '18-24', '25-44', '45-64', '65+']

# Iterate over the columns to apply the cleaning logic
for col in ['SUSP_AGE_GROUP', 'VIC_AGE_GROUP']:
  # The 'where' method keeps values that are in the valid_age_groups list.
  # All other values are replaced with None.
  df[col] = df[col].where(df[col].isin(valid_age_groups), None)

In [49]:
df.VIC_AGE_GROUP.value_counts(dropna=False).head(10)

VIC_AGE_GROUP
25-44    3165849
None     2940396
45-64    1639418
18-24     948289
<18       439480
65+       356304
Name: count, dtype: int64

In [50]:
df.SUSP_AGE_GROUP.value_counts(dropna=False).head(10)

SUSP_AGE_GROUP
None     6137262
25-44    1800975
18-24     649381
45-64     626923
<18       216254
65+        58941
Name: count, dtype: int64


### 24  SUSP_RACE          object
### 25  SUSP_SEX           object

### 33  VIC_RACE           object
### 34  VIC_SEX            object

In [51]:
df.VIC_SEX.value_counts(dropna=False)

VIC_SEX
F       3689844
M       3158051
E       1379450
D       1252039
L         10040
None        308
U             4
Name: count, dtype: int64

In [52]:
df.VIC_SEX = df.VIC_SEX.replace(to_replace = 'U', value=None)
# df = df[~df.VIC_SEX.isnull()]

In [53]:
df.VIC_RACE.value_counts(dropna=False)

VIC_RACE
None                              3094974
BLACK                             2284899
WHITE HISPANIC                    1565420
WHITE                             1565191
ASIAN / PACIFIC ISLANDER           594827
BLACK HISPANIC                     342366
AMERICAN INDIAN/ALASKAN NATIVE      42028
OTHER                                  31
Name: count, dtype: int64

In [54]:
df.VIC_RACE = df.VIC_RACE.replace(to_replace = 'OTHER', value=None)

In [55]:
df.SUSP_SEX.value_counts(dropna=False)

SUSP_SEX
None    3885020
M       3449102
U       1110941
F       1044673
Name: count, dtype: int64

In [56]:
# U is unknown, same is NULL.
df.SUSP_SEX = df.SUSP_SEX.replace(to_replace = 'U', value=None)

In [57]:
df.SUSP_RACE.value_counts(dropna=False)

SUSP_RACE
None                              5324310
BLACK                             2103811
WHITE HISPANIC                     966101
WHITE                              585147
BLACK HISPANIC                     301863
ASIAN / PACIFIC ISLANDER           192418
AMERICAN INDIAN/ALASKAN NATIVE      16075
OTHER                                  11
Name: count, dtype: int64

In [58]:
# Very small amount of OTHER values
df.SUSP_RACE = df.SUSP_RACE.replace(to_replace = 'OTHER', value=None)

In [59]:
# df.SUSP_RACE = pd.Categorical(df.SUSP_RACE)
# df.SUSP_SEX = pd.Categorical(df.SUSP_SEX)
# df.VIC_RACE = pd.Categorical(df.VIC_RACE)
# df.VIC_SEX = pd.Categorical(df.VIC_SEX)

###  14  LOC_OF_OCCUR_DESC  object

In [60]:
# df.LOC_OF_OCCUR_DESC = df.LOC_OF_OCCUR_DESC.astype(str)

In [61]:
df['LOC_OF_OCCUR_DESC'] = df['LOC_OF_OCCUR_DESC'].replace({np.nan: None})

In [62]:
df.LOC_OF_OCCUR_DESC.value_counts(dropna=False)

LOC_OF_OCCUR_DESC
INSIDE         4857433
FRONT OF       2252204
None           1949194
OPPOSITE OF     236289
REAR OF         189709
OUTSIDE           4907
Name: count, dtype: int64

In [63]:
# df.LOC_OF_OCCUR_DESC = pd.Categorical(df.LOC_OF_OCCUR_DESC)

### Latitude  & Longitude

In [64]:
import geopandas as gpd

In [65]:
df.Latitude = pd.to_numeric(df.Latitude)
df.Longitude  = pd.to_numeric(df.Longitude)

In [66]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))

In [67]:
# https://data.cityofnewyork.us/City-Government/2020-Neighborhood-Tabulation-Areas-NTAs-/9nt8-h7nd/about_data
shapefile_url = 'https://data.cityofnewyork.us/resource/9nt8-h7nd.geojson'
df_nyc = gpd.GeoDataFrame.from_file(shapefile_url)
df_nyc = df_nyc.to_crs(4326)

In [68]:
df_nyc

,shape_area,ntaname,cdtaname,shape_leng,boroname,ntatype,nta2020,borocode,countyfips,ntaabbrev,cdta2020,geometry
0,35321809.1041,Greenpoint,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28919.5608108,Brooklyn,0,BK0101,3,047,Grnpt,BK01,"MULTIPOLYGON (((-73.93213 40.72816, -73.93238 ..."
1,28852852.7038,Williamsburg,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28134.0823238,Brooklyn,0,BK0102,3,047,Wllmsbrg,BK01,"MULTIPOLYGON (((-73.95814 40.7244, -73.95772 4..."
2,15208960.7339,South Williamsburg,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),18250.2805432,Brooklyn,0,BK0103,3,047,SWllmsbrg,BK01,"MULTIPOLYGON (((-73.95024 40.70547, -73.94984 ..."
3,52267407.9898,East Williamsburg,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43184.7989883,Brooklyn,0,BK0104,3,047,EWllmsbrg,BK01,"MULTIPOLYGON (((-73.92406 40.71411, -73.92404 ..."
4,9982321.59069,Brooklyn Heights,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,14312.5049745,Brooklyn,0,BK0201,3,047,BkHts,BK02,"MULTIPOLYGON (((-73.99236 40.68969, -73.99436 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
257,47758768.0799,Freshkills Park (South),SI03 South Shore (CD 3 Approximation),33945.4204211,Staten Island,9,SI0391,5,085,FrshklPK_S,SI03,"MULTIPOLYGON (((-74.20058 40.57951, -74.19888 ..."
258,9867248.986,Fort Wadsworth,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,14814.4147411,Staten Island,6,SI9561,5,085,FtWdswrth,SI95,"MULTIPOLYGON (((-74.05975 40.59385, -74.06013 ..."
259,635701.967583,Hoffman & Swinburne Islands,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.12812675,Staten Island,9,SI9591,5,085,HffmnIsl,SI95,"MULTIPOLYGON (((-74.05051 40.56642, -74.05047 ..."
260,10866804.1436,Miller Field,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,19197.2009732,Staten Island,9,SI9592,5,085,MllrFld,SI95,"MULTIPOLYGON (((-74.08469 40.57148, -74.08595 ..."
261,23377914.8587,Great Kills Park,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,41465.4301871,Staten Island,9,SI9593,5,085,GrtKlsPk,SI95,"MULTIPOLYGON (((-74.11338 40.54807, -74.11341 ..."

In [69]:
%%time
# Match each accident with a neighborhood.
# Will take ~1 min to run
# This is done with left join,
# so we preserve all the data points
# but we know which ones are not matching with the shapefile
gdf.crs = df_nyc.crs
gdf = gpd.sjoin(gdf, df_nyc, how='left')

CPU times: user 54.2 s, sys: 2.72 s, total: 56.9 s
Wall time: 56.6 s

In [70]:
gdf.dtypes

CMPLNT_NUM                    Int64
ADDR_PCT_CD                  object
RPT_DT               datetime64[ns]
KY_CD                        object
PD_CD                        object
CRM_ATPT_CPTD_CD             object
LAW_CAT_CD                   object
BORO_NM                      object
LOC_OF_OCCUR_DESC            object
PREM_TYP_DESC                object
JURISDICTION_CODE            object
PARKS_NM                     object
HADEVELOPT                   object
HOUSING_PSA                  object
SUSP_AGE_GROUP               object
SUSP_RACE                    object
SUSP_SEX                     object
TRANSIT_DISTRICT             object
Latitude                    float64
Longitude                   float64
PATROL_BORO                  object
STATION_NAME                 object
VIC_AGE_GROUP                object
VIC_RACE                     object
VIC_SEX                      object
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
geometry                   geometry
index_right                 float64
shape_area                   object
ntaname                      object
cdtaname                     object
shape_leng                   object
boroname                     object
ntatype                      object
nta2020                      object
borocode                     object
countyfips                   object
ntaabbrev                    object
cdta2020                     object
dtype: object

In [71]:
# We keep only boro_name and ntaname
todrop = [
    'index_right', 'shape_area', 'cdtaname', 'borocode', 'countyfips',
    'ntaabbrev', 'ntatype', 'cdta2020', 'shape_leng'
]

gdf = gdf.drop(todrop, axis='columns')

# Rename the columns
gdf = gdf.rename({
    'boroname': 'BOROUGH',
    'ntaname': 'NEIGHBORHOOD',
    'nta2020': 'NEIGHBORHOOD_CODE',
}, axis='columns')

In [72]:
gdf['BOROUGH'] = gdf['BOROUGH'].str.upper()

In [73]:
print("Entries without a detected BOROUGH:", gdf[gdf.BOROUGH.isnull()].shape[0])
# Mark as NULL all the lon/lat entries outside the NYC area
gdf.loc[gdf.BOROUGH.isnull(), 'Latitude'] = None
gdf.loc[gdf.BOROUGH.isnull(), 'Longitude'] = None

Entries without a detected BOROUGH: 1367

In [74]:
mask = gdf.query('BOROUGH != BORO_NM and Latitude==Latitude and Longitude==Longitude').CMPLNT_NUM.values

In [75]:
inconsistent = gdf.query('BOROUGH != BORO_NM and Latitude==Latitude and Longitude==Longitude').shape[0]
print("Entries where reported lon/lat is inconsistent with the reported borough:", inconsistent)

Entries where reported lon/lat is inconsistent with the reported borough: 17818

In [76]:
# Mark as NULL all the lon/lat entries that generate inconsistencies
mask = gdf.query('BOROUGH != BORO_NM and Latitude==Latitude and Longitude==Longitude').CMPLNT_NUM.values
condition = gdf.CMPLNT_NUM.isin(mask)

gdf.loc[condition, 'Latitude'] = None
gdf.loc[condition, 'Longitude'] = None

In [77]:
# We do not need the geometry anymore
gdf = gdf.drop('geometry', axis='columns')

In [78]:
df = pd.DataFrame(gdf)

In [79]:
df.BORO_NM.value_counts(dropna=False)

BORO_NM
BROOKLYN         2777012
MANHATTAN        2287628
BRONX            2053831
QUEENS           1928377
STATEN ISLAND     434169
None                8719
Name: count, dtype: int64

In [80]:
# Drop the cases where the reported borough
# is different than the one detected through lon/lat
# df = df[df.BOROUGH == df.BORO_NM]

In [81]:
df.drop(['BOROUGH'], axis='columns', inplace=True)

In [82]:
# We do this to allow for easier insertion to a database later on
df['NEIGHBORHOOD'] = df['NEIGHBORHOOD'].str.replace('\'', '’', regex=False)

In [83]:
# df.NEIGHBORHOOD_CODE = pd.Categorical(df.NEIGHBORHOOD_CODE)
# df.NEIGHBORHOOD = pd.Categorical(df.NEIGHBORHOOD)

### TRANSIT_DISTRICT

In [84]:
df.TRANSIT_DISTRICT.value_counts(dropna=False)

TRANSIT_DISTRICT
NaN    9264516
4        34082
2        26516
1        22357
33       22253
20       20922
3        20915
12       18156
11       16702
32       15708
30       14119
34       10022
23        3468
Name: count, dtype: int64

In [85]:
df.drop('TRANSIT_DISTRICT', axis='columns', inplace=True)

### PREM_TYP_DESC

In [86]:
df.PREM_TYP_DESC.value_counts(dropna=False)

PREM_TYP_DESC
STREET                        2965104
RESIDENCE - APT. HOUSE        2027320
RESIDENCE-HOUSE                920483
RESIDENCE - PUBLIC HOUSING     690211
CHAIN STORE                    276644
                               ...
CLOTHING BOUTIQUE                   4
PHOTO/COPY STORE                    3
DOCTOR/DENTIST                      2
CHECK CASH                          1
SCHOOL                              1
Name: count, Length: 95, dtype: int64

In [87]:
df.PREM_TYP_DESC.isnull().sum()

np.int64(52398)

In [88]:
# df = df [~df.PREM_TYP_DESC.isnull()]

In [89]:
# df.PREM_TYP_DESC = pd.Categorical(df.PREM_TYP_DESC)

In [90]:
df.PARKS_NM.value_counts(dropna=False)

PARKS_NM
None                              9448833
CENTRAL PARK                         2571
FLUSHING MEADOWS CORONA PARK         2337
WASHINGTON SQUARE PARK               1836
CONEY ISLAND BEACH & BOARDWALK       1583
                                   ...
FAIRVIEW PARK                           1
DAN ROSS PLAYGROUND                     1
MCCARTHY SQUARE                         1
ADRIENNE'S PLAYGROUND                   1
IDA COURT                               1
Name: count, Length: 1293, dtype: int64

In [91]:
df.PARKS_NM.value_counts().sum()

np.int64(40903)

In [92]:
df.drop('PARKS_NM', axis='columns', inplace=True)


 19  HADEVELOPT         object

In [93]:
df.HADEVELOPT.value_counts(dropna=False)

HADEVELOPT
None                                     9456340
INGERSOLL                                   4846
WALD                                        2825
NOSTRAND                                    2570
WILLIAMSBURG                                2560
RIIS                                        2106
MARLBORO                                    2061
MANHATTANVILLE                              2012
GRANT                                       1994
SHEEPSHEAD BAY                              1844
MARBLE HILL                                 1735
WHITMAN                                     1520
WOODSIDE                                    1276
SMITH                                       1172
RIIS II                                     1171
RED HOOK EAST                                949
MARKHAM GARDENS                              648
WEST BRIGHTON I                              494
GLENWOOD                                     415
CAMPOS PLAZA I                               408
RED HOOK WEST                                253
LOWER EAST SIDE REHAB (GROUP 5)              205
FIRST HOUSES                                 144
WEST BRIGHTON II                             108
LOWER EAST SIDE II                            58
BREUKELEN                                      7
HAMMEL                                         3
VLADECK                                        2
ARMSTRONG I                                    1
BUSHWICK II (GROUPS A & C)                     1
BLAND                                          1
BORINQUEN PLAZA I                              1
UNITY PLAZA (SITES 4-27)                       1
EDENWALD                                       1
TWO BRIDGES URA (SITE 7)                       1
AMSTERDAM                                      1
BEACH 41ST STREET-BEACH CHANNEL DRIVE          1
FARRAGUT                                       1
Name: count, dtype: int64

In [94]:
df.drop('HADEVELOPT', axis='columns', inplace=True)

 20  HOUSING_PSA        object

In [95]:
df.HOUSING_PSA.value_counts(dropna=False)

HOUSING_PSA
None     8242270
NaN       541631
670         9730
887         9710
845         8403
          ...
38789          1
38061          1
28331          1
11500          1
26066          1
Name: count, Length: 4830, dtype: int64

In [96]:
df.HOUSING_PSA.value_counts().sum()

np.int64(705835)

In [97]:
df.drop('HOUSING_PSA', axis='columns', inplace=True)

 30  PATROL_BORO        object

In [98]:
df.PATROL_BORO.value_counts(dropna=False)

PATROL_BORO
PATROL BORO BRONX            2054567
PATROL BORO BKLYN SOUTH      1393529
PATROL BORO BKLYN NORTH      1384962
PATROL BORO MAN SOUTH        1162149
PATROL BORO MAN NORTH        1127737
PATROL BORO QUEENS NORTH     1007399
PATROL BORO QUEENS SOUTH      924516
PATROL BORO STATEN ISLAND     434290
None                             587
Name: count, dtype: int64

In [99]:
# df = df[~df.PATROL_BORO.isnull()]

In [100]:
# df.PATROL_BORO = pd.Categorical(df.PATROL_BORO)

 31  STATION_NAME       object

In [101]:
df.STATION_NAME.value_counts(dropna=False)

STATION_NAME
None                              9264516
125 STREET                           9849
14 STREET                            5554
42 ST.-PORT AUTHORITY BUS TERM       5425
34 ST.-PENN STATION                  4861
                                   ...
DISTRICT 30 OFFICE                     22
DISTRICT 12 OFFICE                     22
DISTRICT 34 OFFICE                     18
OFF-SYSTEM                              8
DISTRICT 23 OFFICE                      7
Name: count, Length: 373, dtype: int64

In [102]:
df.drop('STATION_NAME', axis='columns', inplace=True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9489736 entries, 0 to 9491945
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         Int64
 1   ADDR_PCT_CD        object
 2   RPT_DT             datetime64[ns]
 3   KY_CD              object
 4   PD_CD              object
 5   CRM_ATPT_CPTD_CD   object
 6   LAW_CAT_CD         object
 7   BORO_NM            object
 8   LOC_OF_OCCUR_DESC  object
 9   PREM_TYP_DESC      object
 10  JURISDICTION_CODE  object
 11  SUSP_AGE_GROUP     object
 12  SUSP_RACE          object
 13  SUSP_SEX           object
 14  Latitude           float64
 15  Longitude          float64
 16  PATROL_BORO        object
 17  VIC_AGE_GROUP      object
 18  VIC_RACE           object
 19  VIC_SEX            object
 20  CMPLNT_FR          datetime64[ns]
 21  CMPLNT_TO          datetime64[ns]
 22  NEIGHBORHOOD       object
 23  NEIGHBORHOOD_CODE  object
dtypes: Int64(1), datetime64[ns](3), float64(2), object(18)
memory usage: 1.8+ GB

## Data exploration

In this part we check the different values that appear in the columns. When we detect noisy results, we delete the corresponding values. In fact, many of the operations that are performed above, in the 'data cleaning' section, are the result of observations that we make here.

In [104]:
# Find the unique values in each column
#
# df.describe(include = [np.object, 'category']).T['unique']
unique = df.describe(include = 'all').T['unique'].sort_values()

display(unique)

CRM_ATPT_CPTD_CD        2
SUSP_SEX                2
LAW_CAT_CD              3
VIC_SEX                 5
BORO_NM                 5
LOC_OF_OCCUR_DESC       5
VIC_AGE_GROUP           5
SUSP_AGE_GROUP          5
VIC_RACE                6
SUSP_RACE               6
PATROL_BORO             8
JURISDICTION_CODE      28
KY_CD                  75
ADDR_PCT_CD            78
PREM_TYP_DESC          94
NEIGHBORHOOD          257
NEIGHBORHOOD_CODE     257
PD_CD                 443
CMPLNT_NUM           <NA>
RPT_DT                NaN
Latitude              NaN
Longitude             NaN
CMPLNT_FR             NaN
CMPLNT_TO             NaN
Name: unique, dtype: object

In [105]:
#for column in unique.index:
#    if unique[column] < 200:
#        print(df[column].value_counts())
#        print("=====")

In [106]:
# With all the proper data typing the dataset went down in size from 1.9Gb+ to 425Mb.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9489736 entries, 0 to 9491945
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         Int64
 1   ADDR_PCT_CD        object
 2   RPT_DT             datetime64[ns]
 3   KY_CD              object
 4   PD_CD              object
 5   CRM_ATPT_CPTD_CD   object
 6   LAW_CAT_CD         object
 7   BORO_NM            object
 8   LOC_OF_OCCUR_DESC  object
 9   PREM_TYP_DESC      object
 10  JURISDICTION_CODE  object
 11  SUSP_AGE_GROUP     object
 12  SUSP_RACE          object
 13  SUSP_SEX           object
 14  Latitude           float64
 15  Longitude          float64
 16  PATROL_BORO        object
 17  VIC_AGE_GROUP      object
 18  VIC_RACE           object
 19  VIC_SEX            object
 20  CMPLNT_FR          datetime64[ns]
 21  CMPLNT_TO          datetime64[ns]
 22  NEIGHBORHOOD       object
 23  NEIGHBORHOOD_CODE  object
dtypes: Int64(1), datetime64[ns](3), float64(2), object(18)
memory usage: 1.8+ GB

In [107]:
df.dtypes

CMPLNT_NUM                    Int64
ADDR_PCT_CD                  object
RPT_DT               datetime64[ns]
KY_CD                        object
PD_CD                        object
CRM_ATPT_CPTD_CD             object
LAW_CAT_CD                   object
BORO_NM                      object
LOC_OF_OCCUR_DESC            object
PREM_TYP_DESC                object
JURISDICTION_CODE            object
SUSP_AGE_GROUP               object
SUSP_RACE                    object
SUSP_SEX                     object
Latitude                    float64
Longitude                   float64
PATROL_BORO                  object
VIC_AGE_GROUP                object
VIC_RACE                     object
VIC_SEX                      object
CMPLNT_FR            datetime64[ns]
CMPLNT_TO            datetime64[ns]
NEIGHBORHOOD                 object
NEIGHBORHOOD_CODE            object
dtype: object

In [108]:
# prompt: Convert all the category data types in the dataframe df into string

#for col in df.select_dtypes(include='category').columns:
#    df[col] = df[col].astype(str)

# df = df.replace(to_replace = 'nan', value=None)

df.KY_CD = pd.to_numeric(df.KY_CD, errors='coerce').astype('Int64')
df.PD_CD = pd.to_numeric(df.PD_CD, errors='coerce').astype('Int64')
df.ADDR_PCT_CD = pd.to_numeric(df.ADDR_PCT_CD, errors='coerce').astype('Int64')
df.JURISDICTION_CODE = pd.to_numeric(df.JURISDICTION_CODE, errors='coerce').astype('Int64')

## Storing in a MySQL database

In [109]:
!sudo pip3 install -U -q PyMySQL sqlalchemy

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 1.8 MB/s eta 0:00:00

In [110]:
import os
from sqlalchemy import create_engine
from sqlalchemy import text

conn_string = 'mysql+pymysql://{user}:{password}@{host}/?charset=utf8mb4'.format(
    host = 'db.ipeirotis.org',
    user = 'root',
    password = mysql_pass,
    encoding = 'utf8mb4')

engine = create_engine(conn_string)

In [111]:
# Query to create a database
db_name = 'nypd'

sql = f"DROP DATABASE IF EXISTS {db_name}"
with engine.connect() as connection:
  connection.execute(text(sql))

# Create a database
sql = f"CREATE DATABASE IF NOT EXISTS {db_name} DEFAULT CHARACTER SET 'utf8mb4'"
with engine.connect() as connection:
  connection.execute(text(sql))

In [112]:
# And lets switch to the database
sql = f"USE {db_name}"
with engine.connect() as connection:
  connection.execute(text(sql))

In [113]:
NEIGHBORHOOD_enum = "ENUM('" + ("','".join(sorted(df.NEIGHBORHOOD.astype(str).unique()))) + "')"

In [114]:
print(NEIGHBORHOOD_enum)

ENUM('Allerton','Alley Pond Park','Annadale-Huguenot-Prince’s Bay-Woodrow','Arden Heights-Rossville','Astoria (Central)','Astoria (East)-Woodside (North)','Astoria (North)-Ditmars-Steinway','Astoria Park','Auburndale','Baisley Park','Barren Island-Floyd Bennett Field','Bath Beach','Bay Ridge','Bay Terrace-Clearview','Bayside','Bedford Park','Bedford-Stuyvesant (East)','Bedford-Stuyvesant (West)','Bellerose','Belmont','Bensonhurst','Borough Park','Breezy Point-Belle Harbor-Rockaway Park-Broad Channel','Brighton Beach','Bronx Park','Brooklyn Heights','Brooklyn Navy Yard','Brownsville','Bushwick (East)','Bushwick (West)','Calvary & Mount Zion Cemeteries','Calvert Vaux Park','Cambria Heights','Canarsie','Canarsie Park & Pier','Carroll Gardens-Cobble Hill-Gowanus-Red Hook','Castle Hill-Unionport','Central Park','Chelsea-Hudson Yards','Chinatown-Two Bridges','Claremont Park','Claremont Village-Claremont (East)','Clinton Hill','Co-op City','College Point','Concourse-Concourse Village','Coney Island-Sea Gate','Corona','Crotona Park','Crotona Park East','Crown Heights (North)','Crown Heights (South)','Cunningham Park','Cypress Hills','Douglaston-Little Neck','Downtown Brooklyn-DUMBO-Boerum Hill','Dyker Beach Park','Dyker Heights','East Elmhurst','East Flatbush-Erasmus','East Flatbush-Farragut','East Flatbush-Remsen Village','East Flatbush-Rugby','East Flushing','East Harlem (North)','East Harlem (South)','East Midtown-Turtle Bay','East New York (North)','East New York-City Line','East New York-New Lots','East Village','East Williamsburg','Eastchester-Edenwald-Baychester','Elmhurst','Far Rockaway-Bayswater','Ferry Point Park-St. Raymond Cemetery','Financial District-Battery Park City','Flatbush','Flatbush (West)-Ditmas Park-Parkville','Flatlands','Flushing Meadows-Corona Park','Flushing-Willets Point','Fordham Heights','Forest Hills','Forest Park','Fort Greene','Fort Hamilton','Fort Totten','Fort Wadsworth','Fresh Meadows-Utopia','Freshkills Park (North)','Freshkills Park (South)','Glen Oaks-Floral Park-New Hyde Park','Glendale','Gramercy','Grasmere-Arrochar-South Beach-Dongan Hills','Gravesend (East)-Homecrest','Gravesend (South)','Gravesend (West)','Great Kills Park','Great Kills-Eltingville','Green-Wood Cemetery','Greenpoint','Greenwich Village','Hamilton Heights-Sugar Hill','Harlem (North)','Harlem (South)','Hell’s Kitchen','Highbridge','Highbridge Park','Highland Park-Cypress Hills Cemeteries (North)','Highland Park-Cypress Hills Cemeteries (South)','Hollis','Holy Cross Cemetery','Howard Beach-Lindenwood','Hunts Point','Hutchinson Metro Center','Inwood','Inwood Hill Park','Jackson Heights','Jacob Riis Park-Fort Tilden-Breezy Point Tip','Jamaica','Jamaica Bay (East)','Jamaica Estates-Holliswood','Jamaica Hills-Briarwood','John F. Kennedy International Airport','Kensington','Kew Gardens','Kew Gardens Hills','Kingsbridge Heights-Van Cortlandt Village','Kingsbridge-Marble Hill','Kissena Park','LaGuardia Airport','Laurelton','Lincoln Terrace Park','Long Island City-Hunters Point','Longwood','Lower East Side','Madison','Manhattanville-West Harlem','Mapleton-Midwood (West)','Marine Park-Mill Basin-Bergen Beach','Marine Park-Plumb Island','Mariner’s Harbor-Arlington-Graniteville','Maspeth','McGuire Fields','Melrose','Middle Village','Middle Village Cemetery','Midtown South-Flatiron-Union Square','Midtown-Times Square','Midwood','Miller Field','Montefiore Cemetery','Morningside Heights','Morris Park','Morrisania','Mott Haven-Port Morris','Mount Eden-Claremont (West)','Mount Hope','Mount Olivet & All Faiths Cemeteries','Murray Hill-Broadway Flushing','Murray Hill-Kips Bay','New Dorp-Midland Beach','New Springville-Willowbrook-Bulls Head-Travis','North Corona','Norwood','Oakland Gardens-Hollis Hills','Oakwood-Richmondtown','Ocean Hill','Old Astoria-Hallets Point','Ozone Park','Ozone Park (North)','Park Slope','Parkchester','Pelham Bay Park','Pelham Bay-Country Club-City Island','Pelham Gardens','Pelham Parkway-Van Nest','Pomonok-Electchester-Hillcrest','Port Richmond','Prospect Heights','Prospect Lefferts Gardens-Wingate','Prospect Park','Queens Village','Queensboro Hill','Queensbridge-Ravenswood-Dutch Kills','Randall’s Island','Rego Park','Richmond Hill','Ridgewood','Rikers Island','Riverdale-Spuyten Duyvil','Rockaway Beach-Arverne-Edgemere','Rockaway Community Park','Rosebank-Shore Acres-Park Hill','Rosedale','Sheepshead Bay-Manhattan Beach-Gerritsen Beach','Shirley Chisholm State Park','Snug Harbor','SoHo-Little Italy-Hudson Square','Soundview Park','Soundview-Bruckner-Bronx River','Soundview-Clason Point','South Jamaica','South Ozone Park','South Richmond Hill','South Williamsburg','Spring Creek Park','Spring Creek-Starrett City','Springfield Gardens (North)-Rochdale Village','Springfield Gardens (South)-Brookville','St. Albans','St. George-New Brighton','St. John Cemetery','St. Michael’s Cemetery','Stuyvesant Town-Peter Cooper Village','Sunnyside','Sunnyside Yards (North)','Sunnyside Yards (South)','Sunset Park (Central)','Sunset Park (East)-Borough Park (West)','Sunset Park (West)','The Battery-Governors Island-Ellis Island-Liberty Island','The Evergreens Cemetery','Throgs Neck-Schuylerville','Todt Hill-Emerson Hill-Lighthouse Hill-Manor Heights','Tompkinsville-Stapleton-Clifton-Fox Hills','Tottenville-Charleston','Tremont','Tribeca-Civic Center','United Nations','University Heights (North)-Fordham','University Heights (South)-Morris Heights','Upper East Side-Carnegie Hill','Upper East Side-Lenox Hill-Roosevelt Island','Upper East Side-Yorkville','Upper West Side (Central)','Upper West Side-Lincoln Square','Upper West Side-Manhattan Valley','Van Cortlandt Park','Wakefield-Woodlawn','Washington Heights (North)','Washington Heights (South)','West Farms','West New Brighton-Silver Lake-Grymes Hill','West Village','Westchester Square','Westerleigh-Castleton Corners','Whitestone-Beechhurst','Williamsbridge-Olinville','Williamsburg','Windsor Terrace-South Slope','Woodhaven','Woodlawn Cemetery','Woodside','Yankee Stadium-Macombs Dam Park','nan')

In [115]:
NCODE_enum = "ENUM('" + ("','".join(sorted(df.NEIGHBORHOOD_CODE.astype(str).unique()))) + "')"

In [116]:
# In principle, we can let Pandas create the table, but we want to be a bit more predise
# with the data types, and we want to add documentation for each column
# from https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i


sql = f'''
CREATE TABLE {db_name}.nypd (
  CMPLNT_NUM varchar(15),
  CMPLNT_FR datetime,
  CMPLNT_TO datetime,
  RPT_DT date,
  KY_CD SMALLINT,
  PD_CD SMALLINT,
  CRM_ATPT_CPTD_CD enum('COMPLETED','ATTEMPTED'),
  LAW_CAT_CD enum('FELONY','MISDEMEANOR','VIOLATION'),
  JURISDICTION_CODE SMALLINT,
  BORO_NM enum('BRONX','BROOKLYN','MANHATTAN','QUEENS','STATEN ISLAND'),
  NEIGHBORHOOD {NEIGHBORHOOD_enum},
  NEIGHBORHOOD_CODE {NCODE_enum},
  ADDR_PCT_CD SMALLINT,
  LOC_OF_OCCUR_DESC enum('FRONT OF','INSIDE','OPPOSITE OF','OUTSIDE','REAR OF'),
  PATROL_BORO enum('PATROL BORO BRONX', 'PATROL BORO BKLYN SOUTH','PATROL BORO BKLYN NORTH','PATROL BORO MAN SOUTH','PATROL BORO MAN NORTH','PATROL BORO QUEENS NORTH','PATROL BORO QUEENS SOUTH','PATROL BORO STATEN ISLAND'),
  PREM_TYP_DESC varchar(30),
  SUSP_RACE enum('UNKNOWN', 'BLACK', 'WHITE', 'WHITE HISPANIC', 'ASIAN / PACIFIC ISLANDER', 'BLACK HISPANIC', 'AMERICAN INDIAN/ALASKAN NATIVE'),
  VIC_RACE enum('UNKNOWN', 'BLACK', 'WHITE', 'WHITE HISPANIC', 'ASIAN / PACIFIC ISLANDER', 'BLACK HISPANIC', 'AMERICAN INDIAN/ALASKAN NATIVE'),
  SUSP_AGE_GROUP enum('<18', '18-24',  '25-44', '45-64', '65+'),
  VIC_AGE_GROUP enum('<18', '18-24',  '25-44', '45-64', '65+'),
  SUSP_SEX enum('M', 'F'),
  VIC_SEX enum('M', 'F', 'E', 'D', 'L'),
  Latitude double,
  Longitude double,
  PRIMARY KEY (CMPLNT_NUM)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
with engine.connect() as connection:
  connection.execute(text(sql))

In [117]:
df.CMPLNT_NUM = df.CMPLNT_NUM.astype(str)

In [118]:
# Create a table
# See http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html for the documentation
from tqdm import tqdm
batchsize = 50000
batches = len(df) // batchsize + 1

t = tqdm(range(batches))

for i in t:
    # print("Batch:",i)
    # continue # Cannot execute this on Travis
    start = batchsize * i
    end = batchsize * (i+1)
    df[start:end].to_sql(
        name = 'nypd',
        schema = db_name,
        con = engine,
        if_exists = 'append',
        index = False,
        chunksize = 1000)

100%|██████████| 190/190 [18:49<00:00,  5.95s/it]

In [119]:
sql = "CREATE INDEX ix_lat ON nypd.nypd(Latitude)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [120]:
sql = "CREATE INDEX ix_lon ON nypd.nypd(Longitude)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [121]:
sql = "CREATE INDEX ix_LAW_CAT_CD ON nypd.nypd(LAW_CAT_CD)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [122]:
sql = "CREATE INDEX ix_BORO_NM ON nypd.nypd(BORO_NM)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [123]:
sql = "CREATE INDEX ix_KY_CD ON nypd.nypd(KY_CD)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [124]:
sql = "CREATE INDEX ix_RPT_DT ON nypd.nypd(RPT_DT)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [125]:
sql = "CREATE INDEX ix_CMPLNT_FR ON nypd.nypd(CMPLNT_FR)"
with engine.connect() as connection:
  connection.execute(text(sql))

In [126]:
sql = "DROP TABLE IF EXISTS offense_codes;"
with engine.connect() as connection:
  connection.execute(text(sql))

sql = '''
CREATE TABLE offense_codes (
  KY_CD smallint,
  OFNS_DESC varchar(32),
  PRIMARY KEY (KY_CD)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
with engine.connect() as connection:
  connection.execute(text(sql))

offenses.to_sql(
        name = 'offense_codes',
        schema = db_name,
        con = engine,
        if_exists = 'append',
        index = False)

75

In [127]:
sql = "DROP TABLE IF EXISTS jurisdiction_codes;"
with engine.connect() as connection:
  connection.execute(text(sql))

sql = '''
CREATE TABLE jurisdiction_codes (
  JURISDICTION_CODE smallint,
  JURIS_DESC varchar(40),
  PRIMARY KEY (JURISDICTION_CODE)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
with engine.connect() as connection:
  connection.execute(text(sql))


jusridiction.to_sql(
        name = 'jurisdiction_codes',
        schema = db_name,
        con = engine,
        if_exists = 'append',
        index = False)

28

In [128]:
sql = "DROP TABLE IF EXISTS penal_codes;"
with engine.connect() as connection:
  connection.execute(text(sql))

sql = '''
CREATE TABLE penal_codes (
  PD_CD smallint,
  PD_DESC varchar(80),
  PRIMARY KEY (PD_CD)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
'''
with engine.connect() as connection:
  connection.execute(text(sql))


internal.to_sql(
        name = 'penal_codes',
        schema = db_name,
        con = engine,
        if_exists = 'append',
        index = False)

441

In [129]:
!curl 'https://data.cityofnewyork.us/api/views/qgea-i56i/files/65f25845-1551-4d21-91dc-869c977cd93d?download=true&filename=PDCode_PenalLaw.xlsx' -o PDCode_PenalLaw.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  233k    0  233k    0     0   323k      0 --:--:-- --:--:-- --:--:--  323k

In [130]:
penal_code_df = pd.read_excel('PDCode_PenalLaw.xlsx')

In [131]:
penal_code_df.to_sql(
        name = 'pd_code_penal_law',
        schema = db_name,
        con = engine,
        if_exists = 'replace',
        index = False)

4671

# BigQuery

In [132]:
!pip install -q google-cloud-bigquery pandas-gbq

from google.colab import auth
auth.authenticate_user()

In [133]:
from google.cloud import bigquery
import pandas_gbq

In [141]:
# Add this section to write to BigQuery
project_id = "nyu-datasets"
dataset_id = "nypd_complaints"

# Initialize BigQuery client
client = bigquery.Client(project=project_id)

# Create the dataset if it doesn't exist
try:
    client.get_dataset(dataset_id)
    print(f"Dataset {dataset_id} already exists.")
except:
    dataset = bigquery.Dataset(f"{project_id}.{dataset_id}")
    dataset.location = "US" # Or your preferred location
    dataset = client.create_dataset(dataset, exists_ok=True)
    print(f"Dataset {dataset_id} created.")

Dataset nypd_complaints already exists.

In [142]:
# prompt: I want to store to BigQuery (to the dataset above) the tables that were written in MySQL. I want to define first the scema for each table, with descriptions for each column, and then use pandas_gbq to store the data in BigQuery.
# Then use SQL code that ALTERs the tables to assign descriptions to them and add (non enforced) PRIMARY and FOREIGN KEY designations in the tables.

# Define schema for nypd table
# The schema is defined as a list of bigquery.SchemaField objects.
nypd_schema_fields = [
    bigquery.SchemaField("CMPLNT_NUM", "STRING", mode="NULLABLE", description="Randomly generated persistent ID for each complaint"),
    bigquery.SchemaField("CMPLNT_FR", "TIMESTAMP", mode="NULLABLE", description="Exact date and time of occurrence for the reported event (or starting date and time of occurrence)"),
    bigquery.SchemaField("CMPLNT_TO", "TIMESTAMP", mode="NULLABLE", description="Ending date and time of occurrence for the reported event, if exact time of occurrence is unknown"),
    bigquery.SchemaField("RPT_DT", "DATE", mode="NULLABLE", description="Date event was reported to police"),
    bigquery.SchemaField("KY_CD", "INT64", mode="NULLABLE", description="Three digit offense classification code"),
    bigquery.SchemaField("PD_CD", "INT64", mode="NULLABLE", description="Three digit internal classification code (more granular than Key Code)"),
    bigquery.SchemaField("CRM_ATPT_CPTD_CD", "STRING", mode="NULLABLE", description="Indicator of whether crime was successfully completed or attempted, but failed or was interrupted prematurely"),
    bigquery.SchemaField("LAW_CAT_CD", "STRING", mode="NULLABLE", description="Level of offense: felony, misdemeanor, violation"),
    bigquery.SchemaField("JURISDICTION_CODE", "INT64", mode="NULLABLE", description="Jurisdiction responsible for incident. Either internal, like Police(0), Transit(1), and Housing(2); or external(3), like Correction, Port Authority, etc."),
    bigquery.SchemaField("BORO_NM", "STRING", mode="NULLABLE", description="The name of the borough in which the incident occurred"),
    bigquery.SchemaField("NEIGHBORHOOD", "STRING", mode="NULLABLE", description="Name of the Neighborhood Tabulation Area (NTA)"),
    bigquery.SchemaField("NEIGHBORHOOD_CODE", "STRING", mode="NULLABLE", description="Code for the Neighborhood Tabulation Area (NTA)"),
    bigquery.SchemaField("ADDR_PCT_CD", "INT64", mode="NULLABLE", description="The precinct in which the incident occurred"),
    bigquery.SchemaField("LOC_OF_OCCUR_DESC", "STRING", mode="NULLABLE", description="Specific location of occurrence in or around the premises; inside, opposite of, front of, rear of"),
    bigquery.SchemaField("PATROL_BORO", "STRING", mode="NULLABLE", description="The name of the patrol borough in which the incident occurred"),
    bigquery.SchemaField("PREM_TYP_DESC", "STRING", mode="NULLABLE", description="Specific description of premises; grocery store, residence, street, etc."),
    bigquery.SchemaField("SUSP_RACE", "STRING", mode="NULLABLE", description="Suspect’s Race Description"),
    bigquery.SchemaField("VIC_RACE", "STRING", mode="NULLABLE", description="Victim’s Race Description"),
    bigquery.SchemaField("SUSP_AGE_GROUP", "STRING", mode="NULLABLE", description="Suspect’s Age Group"),
    bigquery.SchemaField("VIC_AGE_GROUP", "STRING", mode="NULLABLE", description="Victim’s Age Group"),
    bigquery.SchemaField("SUSP_SEX", "STRING", mode="NULLABLE", description="Suspect’s Sex Description"),
    bigquery.SchemaField("VIC_SEX", "STRING", mode="NULLABLE", description="Victim’s Sex Description"),
    bigquery.SchemaField("Latitude", "FLOAT64", mode="NULLABLE", description="Midblock Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)"),
    bigquery.SchemaField("Longitude", "FLOAT64", mode="NULLABLE", description="Midblock Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)"),
]

# Convert SchemaField objects to dictionaries for pandas_gbq
nypd_schema = [field.to_api_repr() for field in nypd_schema_fields]


# Define schema for offense_codes table
offense_codes_schema_fields = [
    bigquery.SchemaField("KY_CD", "INT64", mode="NULLABLE", description="Three digit offense classification code"),
    bigquery.SchemaField("OFNS_DESC", "STRING", mode="NULLABLE", description="Description of offense corresponding with key code"),
]
offense_codes_schema = [field.to_api_repr() for field in offense_codes_schema_fields]


# Define schema for jurisdiction_codes table
jurisdiction_codes_schema_fields = [
    bigquery.SchemaField("JURISDICTION_CODE", "INT64", mode="NULLABLE", description="Jurisdiction responsible for incident code"),
    bigquery.SchemaField("JURIS_DESC", "STRING", mode="NULLABLE", description="Description of the jurisdiction code"),
]
jurisdiction_codes_schema = [field.to_api_repr() for field in jurisdiction_codes_schema_fields]


# Define schema for penal_codes table
penal_codes_schema_fields = [
    bigquery.SchemaField("PD_CD", "INT64", mode="NULLABLE", description="Three digit internal classification code"),
    bigquery.SchemaField("PD_DESC", "STRING", mode="NULLABLE", description="Description of internal classification corresponding with PD code"),
]
penal_codes_schema = [field.to_api_repr() for field in penal_codes_schema_fields]


# Define schema for pd_code_penal_law table
pd_code_penal_law_schema_fields = [
    bigquery.SchemaField("PD_CD", "INT64", mode="NULLABLE"),
    bigquery.SchemaField("PD_DESC", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("PENAL_LAW", "STRING", mode="NULLABLE"), # Assuming this column name from the excel file
    bigquery.SchemaField("SECTION", "STRING", mode="NULLABLE"),
    bigquery.SchemaField("SUBDIVISION", "STRING", mode="NULLABLE"),
]
pd_code_penal_law_schema = [field.to_api_repr() for field in pd_code_penal_law_schema_fields]

In [143]:
offenses.KY_CD = pd.to_numeric(offenses.KY_CD).astype('Int64')
jusridiction.JURISDICTION_CODE = pd.to_numeric(jusridiction.JURISDICTION_CODE).astype('Int64')
internal.PD_CD = pd.to_numeric(internal.PD_CD).astype('Int64')

In [137]:

# Store the dataframes to BigQuery
# Ensure that the dataframes (df, offenses, jusridiction, internal, penal_code_df) are defined before running this cell.
pandas_gbq.to_gbq(offenses, f"{dataset_id}.offense_codes", project_id=project_id, if_exists='replace', table_schema=offense_codes_schema)
pandas_gbq.to_gbq(jusridiction, f"{dataset_id}.jurisdiction_codes", project_id=project_id, if_exists='replace', table_schema=jurisdiction_codes_schema)
pandas_gbq.to_gbq(internal, f"{dataset_id}.penal_codes", project_id=project_id, if_exists='replace', table_schema=penal_codes_schema)
pandas_gbq.to_gbq(penal_code_df, f"{dataset_id}.pd_code_penal_law", project_id=project_id, if_exists='replace', table_schema=pd_code_penal_law_schema)

100%|██████████| 1/1 [00:00<00:00, 4771.68it/s]
100%|██████████| 1/1 [00:00<00:00, 5482.75it/s]
100%|██████████| 1/1 [00:00<00:00, 12018.06it/s]
100%|██████████| 1/1 [00:00<00:00, 14614.30it/s]

In [144]:
%%time
pandas_gbq.to_gbq(df, f"{dataset_id}.nypd", project_id=project_id, if_exists='replace', table_schema=nypd_schema)

100%|██████████| 1/1 [00:00<00:00, 6909.89it/s]

CPU times: user 3min 3s, sys: 25.2 s, total: 3min 28s
Wall time: 4min 2s

In [139]:

# Use SQL to ALTER tables and add descriptions and key designations

# Add descriptions to tables
client.query(f"""
ALTER TABLE `{project_id}.{dataset_id}.nypd`
SET OPTIONS(description='NYPD Complaint Data Historic');

ALTER TABLE `{project_id}.{dataset_id}.offense_codes`
SET OPTIONS(description='Mapping from Offense Code (KY_CD) to Offense Description');

ALTER TABLE `{project_id}.{dataset_id}.jurisdiction_codes`
SET OPTIONS(description='Mapping from Jurisdiction Code to Jurisdiction Description');

ALTER TABLE `{project_id}.{dataset_id}.penal_codes`
SET OPTIONS(description='Mapping from Penal Code (PD_CD) to Penal Description');

ALTER TABLE `{project_id}.{dataset_id}.pd_code_penal_law`
SET OPTIONS(description='Mapping from PD Code to Penal Law sections');
""").result()

print("Table descriptions added.")

Table descriptions added.

In [140]:
# Add PRIMARY KEY designation (BigQuery does not enforce PRIMARY/FOREIGN KEY constraints, but you can add them for documentation/metadata)
client.query(f"""
ALTER TABLE `{project_id}.{dataset_id}.nypd`
  ADD PRIMARY KEY (CMPLNT_NUM) NOT ENFORCED;

ALTER TABLE `{project_id}.{dataset_id}.offense_codes`
  ADD PRIMARY KEY (KY_CD) NOT ENFORCED;

ALTER TABLE `{project_id}.{dataset_id}.jurisdiction_codes`
  ADD PRIMARY KEY (JURISDICTION_CODE) NOT ENFORCED;

ALTER TABLE `{project_id}.{dataset_id}.penal_codes`
  ADD PRIMARY KEY (PD_CD) NOT ENFORCED;
""").result()

print("Primary Key added to tables.")

BadRequest: 400 GET https://bigquery.googleapis.com/bigquery/v2/projects/nyu-datasets/queries/2d564eac-182d-4e74-8a09-4afe85476f6f?maxResults=0&location=US&prettyPrint=false: Already Exists: Constraint primary key at [2:1]

Location: US
Job ID: 2d564eac-182d-4e74-8a09-4afe85476f6f

In [ ]:
# prompt: Add (non enforced) FOREIGN KEYS in the nypd table

# Add (non enforced) FOREIGN KEY designations in the nypd table
client.query(f"""
ALTER TABLE `{project_id}.{dataset_id}.nypd`
  ADD CONSTRAINT fk_nypd_offense_codes
  FOREIGN KEY (KY_CD) REFERENCES `{project_id}.{dataset_id}.offense_codes` (KY_CD) NOT ENFORCED;

ALTER TABLE `{project_id}.{dataset_id}.nypd`
  ADD CONSTRAINT fk_nypd_penal_codes
  FOREIGN KEY (PD_CD) REFERENCES `{project_id}.{dataset_id}.penal_codes` (PD_CD) NOT ENFORCED;

ALTER TABLE `{project_id}.{dataset_id}.nypd`
  ADD CONSTRAINT fk_nypd_jurisdiction_codes
  FOREIGN KEY (JURISDICTION_CODE) REFERENCES `{project_id}.{dataset_id}.jurisdiction_codes` (JURISDICTION_CODE) NOT ENFORCED;
""").result()

print("Foreign Keys added to nypd table.")

In [ ]:
client.query(f"""
-- Add column descriptions to the pd_code_penal_law table
ALTER TABLE `{project_id}.{dataset_id}.pd_code_penal_law`
  ALTER COLUMN PDCODE_VALUE SET OPTIONS (description="Three digit internal classification code"),
  ALTER COLUMN CATEGORY SET OPTIONS (description="Description of internal classification corresponding with PD code"),
  ALTER COLUMN LAW_NYS SET OPTIONS (description="The specific section of NYS Penal Law that the code maps to"),
  ALTER COLUMN LIT_LONG SET OPTIONS (description="The section number within the Penal Law"),
  ALTER COLUMN LIT_SHORT SET OPTIONS (description="The subdivision within the Penal Law section");
""").result()